<template>
<v-container>
    <v-card outlined>
        <div>
            <v-app-bar flat color="primary" class="white--text" dense>
                <v-toolbar-title>Staff Profile</v-toolbar-title>
            </v-app-bar>
        </div>

        <v-card-text>
            <ValidationObserver ref="form">
                <form>
                    <v-row dense>
                        <v-col cols="12">
                            <People-Picker searchPlaceholder="Staff Name"
                                            :pageSize="20"
                                            :allowMultipleSelection="false"
                                            v-model="selectedUser"
                                            @selectedUser="onSelectUser"
                                            :selectedMember="model.staffInfo"
                                            name="Staff Name"
                                            rules="required">
                            </People-Picker>
                        </v-col>
                    </v-row>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <ValidationProvider v-slot="{ errors }"
                                                name="Office"
                                                rules="required">
                                <v-select dense
                                            outlined
                                            :items="offices"
                                            item-text="text"
                                            item-value="value"
                                            v-model="model.pwCOffice"
                                            label="Office"
                                            :error-messages="errors"
                                            :loading="officeLoading">
                                </v-select>
                            </ValidationProvider>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-text-field v-model="model.ptin" dense outlined label="PTIN">
                            </v-text-field>
                        </v-col>
                    </v-row>
                    <v-row dense >

                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                name="Initials"
                                                rules="required">
                            <v-text-field v-model="model.initials" :error-messages="errors" dense outlined label="Initials">
                            </v-text-field>
                                </ValidationProvider>
                        </v-col>
                        
                    </v-row>
                </form>
            </ValidationObserver>
        </v-card-text>
        <v-card-actions>
            <v-btn :to="{ name: 'app.staffprofile.list' }"
                    class="ma-2 text-capitalize"
                    color="secondary"
                    outlined tile>
                <v-icon left small>arrow_back</v-icon>Close
            </v-btn>
            <v-spacer></v-spacer>

            <v-btn class="ma-2 text-capitalize" color="primary" v-on:click="saveProfile" outlined tile>
                <v-icon left small>done</v-icon>{{"Save & Close"}}
            </v-btn>
        </v-card-actions>
    </v-card>
    <app-dialog :options="confirm"> </app-dialog>
</v-container>
</template>

<script lang="ts">
import { Component } from "vue-property-decorator";
import { Base } from "../../components/common/Base";
import { SelectItem } from "../../models/master";
import { StaffProfile } from "../../models/staffprofile";
import { Injector } from "../../services/injector";
import { StaffInfo } from "../../models/staff.info";
import { DialogOption } from "../../models/dialog";

@Component({
    components: {
        AppDialog: (resolve) =>
            require(["../../components/common/app.dialog.vue"], resolve),
    },
})
export default class StaffProfileComponent extends Base {
    public officeLoading: boolean = false;
    public selectedUser: any = {};
    private offices: SelectItem[] = [];
    private model: StaffProfile = new StaffProfile();
    public staffProfileId: string | null = "";
    public isFormDirty: boolean = false;
    public confirm: DialogOption = {
        show: false,
        title: 'Leave page?',
        content: 'Are you sure you want to leave?',
        contentClass: 'py-4',
        action: { text: 'Ok' },
        close: { text: 'Cancel' }
    };

    public async mounted(): Promise<void> {
        this.getOffices();
        this.staffProfileId = this.$route.params.id;
        if (this.staffProfileId) {
            await this.getProfile(this.staffProfileId);
        }
        this.trackModel();
    }
    public async saveProfile(): Promise<void> {
        const isValid = await (this.$refs.form as Vue & { validate: () => boolean }).validate()// await this.$refs.form.validate();
        if (isValid) {
            try {
                this.model.staffInfo = this.selectedUser;
                if (this.staffProfileId) {
                    await Injector.StaffProfileService.update(this.model);
                    this.notify(true, "Staff profile updated successfully");
                    this.staffProfileId = null;
                } else {
                    await Injector.StaffProfileService.add(this.model);
                    this.notify(true, "Staff profile saved successfully");
                }
            } finally {
                this.isFormDirty = false;
                this.$router.push({ name: "app.staffprofile.list" });
            }
        }
        else {
            this.notify(false, 'Please fill all the required fields');
        }
    }
    public async getProfile(id: string): Promise<void> {
        this.model = await Injector.StaffProfileService.getById(id);
        this.selectedUser = this.model.staffInfo
    }
    public async getOffices(): Promise<void> {
        try {
            this.officeLoading = true;
            this.offices = await Injector.MasterService.getOffices();
        } finally {
            this.officeLoading = false;
        }
    }
    public onSelectUser(user: any): void {
        this.selectedUser = user;
        if (user) {
            this.model.initials = (
                (user.firstName ? user.firstName.charAt(0) : "") +
                (user.lastName ? user.lastName.charAt(0) : "")
            ).toUpperCase();
        }
    }
    // Dirty Data Track
    public trackModel(): void {
        this.$watch('model', () => { this.isFormDirty = true; }, {
            deep: true
        })
    }
    public showConfirmDialog(yes: Function, no: Function): void {
        this.confirm.show = true;
        this.confirm.onAction = () => {
            this.confirm.show = false;
            yes();
        };
        this.confirm.onClose = () => {
            this.confirm.show = false;
            no();
        }
    }
    public beforeRouteLeave(to, from, next): void {
        if (this.isFormDirty) {
            this.showConfirmDialog(() => { next(); }, () => { next(false); })
        }
        else {
            next();
        }
    }
}
</script>
