<template>
  <v-container>
    <v-card flat>
      <v-card-title>
        <v-row dense>
          <v-col cols="12">
            <v-btn color="primary" class="text-capitalize" :to="{ name: 'app.staffprofile.add' }" outlined tile>
              <v-icon left small>fas fa-plus-circle</v-icon>
              New Staff Profile
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-text-field
          v-model="search"
          placeholder="Please type keyword to search"
          label="Search"
        >
        </v-text-field>

        <v-data-table
          :headers="headers"
          :items="staffProfiles"
          :items-per-page="itemsPerPage"
          :loading="loading"
          class="elevation-1 datatable"
          no-data-text="No profile found"
          no-results-text="No profile found"
          :search="search"
        >
          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  :to="{
                    name: 'app.staffprofile.edit',
                    params: { id: item.id },
                  }"
                  class="mr-2"
                  color="primary"
                  icon
                  v-on="on"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Edit Document</span>
            </v-tooltip>
            <v-tooltip top v-if="isAdmin">
                             <template v-slot:activator="{ on }">
                               <v-btn
                                 color="primary"
                                 icon
                                 small
                                 @click="onDeleteDocument(item)"
                                 fab
                                 v-on="on"
                               >
                                 <v-icon>mdi-delete</v-icon>
                               </v-btn>
                             </template>
                             <span>Delete Document</span>
                           </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <app-dialog :options="confirm"> </app-dialog>
  </v-container>
</template>

<style>
/* .datatable.thead.v-data-table-header {
      background: red !important;
    } */
.headerclass {
  background: red !important;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import { StaffProfile } from "../../models/staffprofile";
import { Injector } from "../../services/injector";
import { DialogOption } from "../../models/dialog";
import { Base } from "../../components/common/Base";
import { Roles } from "../../models/client.tracking.item";

    @Component({
        components: {
            AppDialog: (resolve) =>
                require(["../../components/common/app.dialog.vue"], resolve),
        },
    })
    export default class StaffProfileListComponent extends Base {
       private isAdmin: boolean = false;
  private isAuthorized: boolean = false;
        public confirm: DialogOption = {
            show: false,
            title: "Delete",
            contentClass: "py-4",
            content: 'Do you want to Delete the selected document?',
            action: { text: "Confirm" },
            onAction: () => {
                this.confirm.show = false;
            },
        };
        private valid: boolean = true;
        private lazy: boolean = false;
        private itemsPerPage: number = 10;
        private rowPerPageItems: number[] = [5, 10, 15, 25, 100];
        private staffProfiles: StaffProfile[] = [];
        private loading: boolean = false;
        private search = "";
        private searchFilterItem = "";
        private headers = [
            { text: "PwC Office", value: "pwCOffice", sortable: true },
            { text: "Staff Name", value: "staffNameDisp", sortable: true },
            { text: "Initials", value: "initials", sortable: true },
            { text: "PTIN", value: "ptin", sortable: true },
            { text: "Actions", value: "actions", align: "center", sortable: false },
        ];

  private mounted(): void {
    if (
      this.roles.indexOf(Roles.Administrator) > -1 ||
      this.roles.indexOf(Roles.OfficeAdmin) > -1
    ) {
      this.isAuthorized = true;
    }
    if (this.roles.indexOf(Roles.Administrator) > -1) {
      this.isAdmin = true;
    }
    this.getstaffProfiles();
  }

  private async getstaffProfiles(): Promise<void> {
    this.loading = true;
    this.staffProfiles = await Injector.StaffProfileService.getAll();
    this.loading = false;
  }
 

  public onDeleteDocument(item: StaffProfile): void {
    this.confirm.show = true;
    this.confirm.onAction = () => {
      this.confirm.show = false;
      this.deleteDocument(item);
    };
  }

  private async deleteDocument(item: StaffProfile) {
    try {
      this.loading = true;
      await Injector.StaffProfileService.deleteStaffProfile(item.id);
      this.notify(true, "Selected document deleted successfully");

      await this.getstaffProfiles();
    } finally {
      this.loading = false;
    }
  }
}
</script>
