﻿<template>
    <v-container>
        <v-card outlined>
            <v-card-title class="px-0 pt-0">
                <v-app-bar flat color="primary" class="white--text" dense>
                    <v-toolbar-title>Due Dates and Extensions</v-toolbar-title>
                </v-app-bar>
            </v-card-title>
            <v-card-text>
                <ValidationObserver ref="form">
                    <form>
                        <v-row dense>
                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Jurisdiction"
                                                    rules="required">
                                    <v-select dense
                                              outlined
                                              :items="jurisdictions"
                                              label="Jurisdiction"
                                              item-text="text"
                                              item-value="text"
                                              v-model="model.jurisdiction"
                                              :error-messages="errors"
                                              :loading="loader.jurisdiction">
                                    </v-select>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Form Number"
                                                    rules="required">
                                    <v-text-field dense
                                                  outlined
                                                  v-model="model.formNumber"
                                                  label="Form Number"
                                                  :error-messages="errors">
                                    </v-text-field>
                                </ValidationProvider>
                            </v-col>

                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Original Due Date Months"
                                                    rules="number">
                                    <v-text-field dense
                                                  outlined
                                                  v-model="model.originalDueDateMonths"
                                                  label="Original Due Date Months"
                                                  :error-messages="errors">
                                        <template v-slot:append>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon v-bind="attrs" v-on="on" class="mt-n1">
                                                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    {{ model.originalDueDateMonths || 0 }} months after tax year end
                                                </span>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Original Due Date Days"
                                                    rules="number">
                                    <v-text-field dense
                                                  outlined
                                                  v-model="model.originalDueDateDays"
                                                  label="Original Due Date Days"
                                                  :error-messages="errors">
                                        <template v-slot:append>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon v-bind="attrs" v-on="on" class="mt-n1">
                                                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    {{ model.originalDueDateDays || 0 }} days after tax year end
                                                </span>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                                </ValidationProvider>
                            </v-col>

                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Extension Period Months"
                                                    rules="number">
                                    <v-text-field dense
                                                  outlined
                                                  v-model="model.extensionDueDateMonths"
                                                  label="Extension Period Months"
                                                  :error-messages="errors">
                                        <template v-slot:append>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon v-bind="attrs" v-on="on" class="mt-n1">
                                                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    {{ model.extensionDueDateMonths || 0 }} months after original due date
                                                </span>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Extention Period Days"
                                                    rules="number">
                                    <v-text-field dense
                                                  outlined
                                                  v-model="model.extensionDueDateDays"
                                                  label="Extension Period Days"
                                                  :error-messages="errors">
                                        <template v-slot:append>
                                            <v-tooltip top>
                                                <template v-slot:activator="{ on, attrs }">
                                                    <v-btn icon v-bind="attrs" v-on="on" class="mt-n1">
                                                        <v-icon color="grey lighten-1">mdi-information</v-icon>
                                                    </v-btn>
                                                </template>
                                                <span>
                                                    {{ model.extensionDueDateDays || 0 }} days after original due date
                                                </span>
                                            </v-tooltip>
                                        </template>
                                    </v-text-field>
                                </ValidationProvider>
                            </v-col>
                            <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                                <ValidationProvider v-slot="{ errors }"
                                                    name="Jurisdiction (Short form)"
                                                    rules="required">
                                    <v-select dense
                                              outlined
                                              :items="jurisdictionShortForms"
                                              label="Jurisdiction (Short form)"
                                              item-text="formattedText"
                                              item-value="value"
                                              v-model="model.jurisdictionShortForm"
                                              :error-messages="errors"
                                              :loading="loader.jurisdictionShortForm">
                                    </v-select>
                                </ValidationProvider>
                            </v-col>
                        </v-row>
                    </form>
                </ValidationObserver>
            </v-card-text>
            <v-card-actions>
                <v-btn :to="{ name: 'app.duedate.extension.list' }"
                       class="ma-2 text-capitalize"
                       color="secondary"
                       outlined tile>
                    <v-icon left small>arrow_back</v-icon>Close
                </v-btn>
                <v-spacer></v-spacer>
                <v-btn class="ma-2 text-capitalize" color="primary" v-on:click="save" outlined tile>
                    <v-icon left small>done</v-icon>{{"Save & Close"}}
                </v-btn>
            </v-card-actions>
        </v-card>
        <app-dialog :options="confirm"> </app-dialog>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Base } from "../../components/common/Base";
    import { DueDateExtension, Loader } from "../../models/duedate.extension";
    import { SelectItem } from "../../models/master";
    import { Injector } from "../../services/injector";
    import { DialogOption } from "../../models/dialog";

    @Component({
        components: {
            AppDialog: (resolve) =>
                require(["../../components/common/app.dialog.vue"], resolve),
        },
    })
    export default class DueDateExtensionAddPage extends Base {
        public loader = Loader;
        public model: DueDateExtension = new DueDateExtension();
        public jurisdictions: SelectItem[] = [];
        public jurisdictionShortForms: SelectItem[] = [];
        public dueDateId: string = "";
        public isFormDirty: boolean = false;
        public confirm: DialogOption = {
            show: false,
            title: 'Leave page?',
            content: 'Are you sure you want to leave?',
            contentClass: 'py-4',
            action: { text: 'Ok' },
            close: { text: 'Cancel' }
        };

        public async mounted(): Promise<void> {
            this.getJurisdictions();
            this.dueDateId = this.$route.params.id;
            if (this.dueDateId) {
                await this.get(this.dueDateId);
            }
            this.trackModel();
        }
        public async save(): Promise<void> {
            const isValid = await (this.$refs.form as Vue & { validate: () => boolean }).validate(); //this.$refs.duedate.validate();
            if (isValid) {
                try {
                    if (this.dueDateId) {
                        await Injector.DueDateService.update(this.model);
                        this.notify(true, "Due date extention updated successfully");
                    } else {
                        await Injector.DueDateService.add(this.model);
                        this.notify(true, "Due date extention saved successfully");
                    }
                } finally {
                    this.isFormDirty = false;
                    this.$router.push({ name: "app.duedate.extension.list" });
                }
            }
            else {
                this.notify(false, 'Please fill all the required fields');
            }
        }
        public async get(id: string): Promise<void> {
            this.model = await Injector.DueDateService.getById(id);
        }
        public async getJurisdictions(): Promise<void> {
            try {
                this.loader.jurisdiction = true;
                this.jurisdictions =  await Injector.MasterService.getJurisdictions();
                this.jurisdictionShortForms = await Injector.MasterService.getJurisdictionShortForms();
            } finally {
                this.loader.jurisdiction = false;
            }
        }

        // Dirty Data Track
        public trackModel(): void {
            this.$watch('model', () => { this.isFormDirty = true; }, {
                deep: true
            })
        }
        public showConfirmDialog(yes: Function, no: Function): void {
            this.confirm.show = true;
            this.confirm.onAction = () => {
                this.confirm.show = false;
                yes();
            };
            this.confirm.onClose = () => {
                this.confirm.show = false;
                no();
            }
        }
        public beforeRouteLeave(to, from, next): void {
            if (this.isFormDirty) {
                this.showConfirmDialog(() => { next(); }, () => { next(false); })
            }
            else {
                next();
            }
        }
    }
</script>
