﻿    <template>
  <v-container>
    <v-card flat>
      <v-card-title>
        <v-row dense>
          <v-col cols="12">
            <v-btn color="primary" class="text-capitalize" :to="{ name: 'app.duedate.extension.add' }" outlined tile>
              <v-icon left small>fas fa-plus-circle</v-icon>
              Add Due Date And Extension
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text>
        <v-text-field
          placeholder="Please type keyword to search"
          label="Search"
          v-model="search"
        >
        </v-text-field>

        <v-data-table
          :headers="headers"
          :items="dueDateExtensions"
          :items-per-page="itemsPerPage"
          :loading="loading"
          class="elevation-1 datatable"
          no-data-text="No Due Dates and Extensions found"
          no-results-text="No Due Dates and Extensions found"
          :search="search"
        >
          <template v-slot:item.actions="{ item }">
            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn
                  :to="{
                    name: 'app.duedate.extension.edit',
                    params: { id: item.id },
                  }"
                  class="mr-2"
                  color="primary"
                  icon
                  v-on="on"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <span>Edit Document</span>
            </v-tooltip>

            <v-tooltip top v-if="isAdmin">
              <template v-slot:activator="{ on }">
                <v-btn
                  color="primary"
                  icon
                  small
                  @click="onDeleteDocument(item)"
                  fab
                  v-on="on"
                >
                  <v-icon>mdi-delete</v-icon>
                </v-btn>
              </template>
              <span>Delete document</span>
            </v-tooltip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <app-dialog :options="confirm"> </app-dialog>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { DueDateExtension } from "../../models/duedate.extension";
import { Injector } from "../../services/injector";
import { DialogOption } from "../../models/dialog";
import { Base } from "../../components/common/Base";
import { Roles } from "../../models/client.tracking.item";

@Component({
  components: {
    AppDialog: (resolve) =>
      require(["../../components/common/app.dialog.vue"], resolve),
  },
})
export default class DueDateExtensionListPage extends Base {
  private isAdmin: boolean = false;
  private isAuthorized: boolean = false;
  public confirm: DialogOption = {
    show: false,
    title: "Delete",
    contentClass: "py-4",
    content: "Do you want to delete the selected document?",
    action: { text: "Confirm" },
    onAction: () => {
      this.confirm.show = false;
    },
  };
  private search: string = "";
  private loading: boolean = false;
  private itemsPerPage: number = 10;
  private rowPerPageItems: number[] = [5, 10, 15, 25, 100];
  private headers = [
    { text: "Jurisdiction", value: "jurisdiction", sortable: true },
    {
      text: "Jurisdiction Short",
      value: "jurisdictionShortForm",
      sortable: true,
    },
    { text: "Form Number", value: "formNumber", sortable: true, width: "250px" },
    { text: "Original Due Date", value: "originalDueDateDisp" },
    { text: "Extension Period", value: "extentionPeriodDisp" },
    { text: "Actions", value: "actions", align: "center", sortable: false },
  ];
  private dueDateExtensions: DueDateExtension[] = [];
  private mounted(): void {
    if (
      this.roles.indexOf(Roles.Administrator) > -1 ||
      this.roles.indexOf(Roles.OfficeAdmin) > -1
    ) {
      this.isAuthorized = true;
    }
    if (this.roles.indexOf(Roles.Administrator) > -1) {
      this.isAdmin = true;
    }

    this.getDueDates();
  }
  private async getDueDates(): Promise<void> {
    this.loading = true;
    this.dueDateExtensions = await Injector.DueDateService.getAll();
    this.loading = false;
  }

  private onDeleteDocument(item: DueDateExtension): void {
    this.confirm.show = true;
    this.confirm.onAction = () => {
      this.confirm.show = false;
      this.deleteDocument(item);
    };
  }

  private async deleteDocument(item: DueDateExtension) {
    try {
      this.loading = true;
      await Injector.DueDateService.deleteDueDateExtension(item.id);
      this.notify(true, "Selected document deleted successfully");
      await this.getDueDates();
    } finally {
      this.loading = false;
    }
  }
}
</script>
