<template>
    <v-container>
        <v-row>
            <v-col cols="4">
                <v-card raised dark :to="{ name : 'app.multi.grouping' }">
                    <v-card-title primary-title class="headline">
                        Kendo Grid
                        <v-icon right>arrow_right_alt</v-icon>
                    </v-card-title>
                    <v-card-subtitle>Multiple Grouping Example in Kendo Library</v-card-subtitle>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card raised dark :to="{ name : 'app.people.picker' }">
                    <v-card-title primary-title class="headline">
                        People Picker
                        <v-icon right>arrow_right_alt</v-icon>
                    </v-card-title>
                    <v-card-subtitle>Staff selector picker control example using Custom Component</v-card-subtitle>
                </v-card>
            </v-col>
            <v-col cols="4">
                <v-card raised dark :to="{ name : 'app.example.popup' }">
                    <v-card-title primary-title class="headline">
                        Popup
                        <v-icon right>arrow_right_alt</v-icon>
                    </v-card-title>
                    <v-card-subtitle>Popup control example using Custom Component</v-card-subtitle>
                </v-card>
            </v-col>

             <v-col cols="4">
                <v-card raised dark :to="{ name : 'app.example.single.group' }">
                    <v-card-title primary-title class="headline">
                        Datatable Single Grouping
                        <v-icon right>arrow_right_alt</v-icon>
                    </v-card-title>
                    <v-card-subtitle>Single Grouping using Vuetify Datatable</v-card-subtitle>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Base } from "../../components/common/Base";

    @Component({})
    export default class Cards extends Base {
        hover: boolean = false;
    }
</script>