<template>
    <v-container>
        <v-card>
            <v-card-title primary-title>
                Kendo Grouping
            </v-card-title>
            <v-card-text>
                <!--<kendo-grid :columns="columns"
                            :options="option"
                            :items="items"
                            :actions="actions">
                </kendo-grid>-->
            </v-card-text>
        </v-card>
        <app-dialog :options="info">
            <template v-slot:content>
                <div class="subtitle-1">
                    UserId: <b>{{gridData.userId}}</b>
                </div>
                <div class="subtitle-1">
                    Job Title: <b>{{gridData.jobTitle}}</b>
                </div>
                <div class="subtitle-1">
                    FirstName: <b>{{gridData.firstName}}</b>
                </div>
                <div class="subtitle-1">
                    LastName: <b>{{gridData.lastName}}</b>
                </div>
                <div class="subtitle-1">
                    EmployeeCode: <b>{{gridData.employeeCode}}</b>
                </div>
                <div class="subtitle-1">
                    PhoneNumber: <b>{{gridData.phoneNumber}}</b>
                </div>
                <div class="subtitle-1">
                    EmailAddress: <b>{{gridData.emailAddress}}</b>
                </div>
                <div class="subtitle-1">
                    Region: <b>{{gridData.region}}</b>
                </div>
            </template>
        </app-dialog>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Column, GridOption } from '../../models/grid';
    import { DialogOption } from '../../models/dialog';

    @Component({
        components: {
            AppDialog: (resolve) => require(['../../components/common/app.dialog.vue'], resolve),
            //kendoGrid: (resolve) => require(['../../components/common/kendo.grid.vue'], resolve),
        }
    })
    export default class Grouping extends Vue {
        public option: GridOption = new GridOption(true, false);
        public gridData: any = {};

        public columns: Column[] = [
            {
                field: "userId", width: "150px", title: 'UserId',
                template: (field: string, dataItem: any) => {
                    return dataItem[field];
                }
            },
            { field: "jobTitle", width: "200px", title: 'Job Title' },
            { field: "firstName", width: "120px", title: 'First Name' },
            { field: "lastName", width: "120px", title: 'Last Name' },
            { field: "employeeCode", width: "100px", title: 'Employee Code' },
            { field: "region", width: "100px", title: 'Region' },
            { field: "phoneNumber", width: "150px", title: 'Phone Number' },
            { field: "emailAddress", width: "250px", title: 'Email Address' },
        ];

        public info: DialogOption = {
            show: false,
            title: 'User Information'
        };

        public actions = [
            {
                type: 'button',
                icon: 'fas fa-eye',
                title: 'View',
                action: (item: any) => {
                    this.showDialog(item);
                }
            }];

        public items: any[] = [
            {
                "userId": "krish",
                "jobTitle": "Developer",
                "firstName": "Krish",
                "lastName": "Lee",
                "employeeCode": "E1",
                "region": "CA",
                "phoneNumber": "123456",
                "emailAddress": "krish.lee@learningcontainer.com"
            },
            {
                "userId": "devid",
                "jobTitle": "Developer",
                "firstName": "Devid",
                "lastName": "Rome",
                "employeeCode": "E2",
                "region": "CA",
                "phoneNumber": "1111111",
                "emailAddress": "devid.rome@learningcontainer.com"
            },
            {
                "userId": "tin",
                "jobTitle": "Program Directory",
                "firstName": "tin",
                "lastName": "jonson",
                "employeeCode": "E3",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "tin.jonson@learningcontainer.com"
            },
            {
                "userId": "john",
                "jobTitle": "Manager",
                "firstName": "John",
                "lastName": "Doe",
                "employeeCode": "E4",
                "region": "CA",
                "phoneNumber": "33333333",
                "emailAddress": "john.doe@example.com"
            },
            {
                "userId": "nancy",
                "jobTitle": "Accountant",
                "firstName": "Nancy",
                "lastName": "Davolio",
                "employeeCode": "E5",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "tin.jonson@learningcontainer.com"
            },
            {
                "userId": "andrew",
                "jobTitle": "Technical Support",
                "firstName": "Andrew",
                "lastName": "Fuller",
                "employeeCode": "E6",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "andrew.fuller@learningcontainer.com"
            },
            {
                "userId": "janet",
                "jobTitle": "Sales Manager",
                "firstName": "Janet",
                "lastName": "Leverling",
                "employeeCode": "E7",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "janet.leverling@learningcontainer.com"
            },
            {
                "userId": "margaret",
                "jobTitle": "Web Designer",
                "firstName": "Margaret",
                "lastName": "Peacock",
                "employeeCode": "E8",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "margaret.peacock@learningcontainer.com"
            },
            {
                "userId": "steven",
                "jobTitle": "Software Developer",
                "firstName": "Steven",
                "lastName": "Buchanan",
                "employeeCode": "E9",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "steven.buchanan@learningcontainer.com"
            },
            {
                "userId": "michael",
                "jobTitle": "Vice President, Sales",
                "firstName": "Michael",
                "lastName": "Suyama",
                "employeeCode": "E10",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "michael.suyama@learningcontainer.com"
            },
            {
                "userId": "laura",
                "jobTitle": "Software Developer",
                "firstName": "Laura",
                "lastName": "King",
                "employeeCode": "E11",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "laura.king@learningcontainer.com"
            },
            {
                "userId": "anne",
                "jobTitle": "Software Developer",
                "firstName": "Anne",
                "lastName": "Callahan",
                "employeeCode": "E12",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "anne.callahan@learningcontainer.com"
            },
            {
                "userId": "nige",
                "jobTitle": "Software Developer",
                "firstName": "Nige",
                "lastName": "Dodsworth",
                "employeeCode": "E14",
                "region": "CA",
                "phoneNumber": "2222222",
                "emailAddress": "nige.dodsworth@learningcontainer.com"
            }
        ];

        public mounted(): void {
            this.option.scrollable = 'none';
            this.option.group = [{ field: 'jobTitle' }]
        }
        public showDialog(item: any): void {
            this.gridData = item;
            this.info.show = true;
        }
    }
</script>