<template>
    <v-container>
        <v-card>
            <v-card-title primary-title>
                People Picker
            </v-card-title>
            <v-card-text>
  <People-Picker
        searchPlaceholder="Staff"
        :pageSize="5"
        v:bind:allowMultipleSelection="true"
        v-model="vm.user"
        @selectedUsers="vm.user = $event"
      ></People-Picker>

            </v-card-text>
        </v-card>
    </v-container>
</template>



<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Base } from "../../components/common/Base";

@Component({})
export default class PeoplePickerExample extends Base {
  private vm = {
    user: "",
  };
}
</script>