﻿<template>
    <v-container>
        <v-card>
            <v-card-title primary-title>
                Popups
            </v-card-title>
            <v-card-text>
                <v-btn raised dark @click="infoDialog" class="mr-3">Info Dialog</v-btn>
                <v-btn raised dark @click="confirmDialog">Confirm Dialog</v-btn>
            </v-card-text>
        </v-card>
        <app-dialog :options="info">
            <template v-slot:content>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </template>
        </app-dialog>
        <app-dialog :options="confirm">
            <template v-slot:content>
                Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.
            </template>
        </app-dialog>
    </v-container>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Column } from '../../models/grid';
    import { DialogOption } from '../../models/dialog';

    @Component({
        components: {
            AppDialog: (resolve) => require(['../../components/common/app.dialog.vue'], resolve),
        }
    })
    export default class Grouping extends Vue {
        public info: DialogOption = {
            show: false,
            title: 'Title'
        };

        public confirm: DialogOption = {
            show: false,
            title: "Use Google's location service?",
            action: { text: 'Confirm' },
            onAction: () => {
                this.confirm.show = false;
            }
        };

        public infoDialog(): void {
            this.info.show = true;
        }

        public confirmDialog(): void {
            this.confirm.show = true;
        }
    }
</script>