<template>
  <v-container>
    <v-card flat>
      <v-card-title>
        <v-row>
          <v-col cols="12">
            <v-btn color="secondary" v-on:click="groupBySheet = !groupBySheet">
              <v-icon small left>fa fa-users</v-icon>Group By
            </v-btn>
          </v-col>

          <v-col cols="12">
            <v-text-field
              v-model="searchData"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              hide-details
            ></v-text-field>
          </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <custom-grid
          :headers="headers"
          :items="desserts"
          :pageSize="itemsPerPage"
          :loading="loading"
          :groupedField="groupByField"
          :searchData="searchData"
          :groupDirection="true"
          :pagination="pagination"
          @page-change="updatePaging"
          @removingGrouping="groupByField = $event"
        >
        </custom-grid>
      </v-card-text>
    </v-card>

    <v-bottom-sheet v-model="groupBySheet" class="mx-4">
      <v-card class="mx-auto" max-width="500">
        <v-toolbar flat color="primary">
          <v-toolbar-title class="white--text">Group Claims By</v-toolbar-title>
        </v-toolbar>

        <v-card-text>
          <v-chip-group
            v-model="groupByField"
            column
            @change="onChangeGroupByField"
          >
            <v-chip
              filter
              outlined
              v-for="column in groupByColumns"
              :key="column.value"
              :value="column.value"
              >{{ column.text }}</v-chip
            >
          </v-chip-group>
        </v-card-text>
      </v-card>
    </v-bottom-sheet>
  </v-container>
</template>

<style>
.headerclass {
  background: red !important;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}
</style>

<script lang="ts">
import { Component, Vue, Watch } from "vue-property-decorator";
import axios, { AxiosResponse } from "axios";
import { Injector } from "../../services/injector";
import { PaginationModel, VAction } from "../../models/pagedlistmodel";
import { IDairyModel } from "../../models/IDairyModel";

@Component({})
export default class SingleGroup extends Vue {
  private valid: boolean = true;
  private lazy: boolean = false;
  private itemsPerPage: number = 5;
  private searchData: string = "";
  
  private loading: boolean = false;
  private search = "";
  private searchFilterItem = "";

  private fromDate: string | null = null;
  private fromMenu: boolean = false;

  private toDate: string | null = null;
  private toMenu: boolean = false;
  private desserts: IDairyModel[] = [];
  private headers = [
    {
      text: "Dessert",
      align: "start",
      value: "name",
    },
    { text: "Category", value: "category" },
    { text: "Dairy", value: "dairy" },
    { text: "Count", value: "count", groupable: false },
    {
      text: "Actions",
      value: "actions",
      sortable: false,
      filterable: false,
      groupable: false,
    },
  ];
  private groupByField: string = "";
  private groupBySheet: boolean = false;
  private groupByColumns = [
    { text: "Dessert", value: "name", class: "" },
    { text: "Category", value: "category", class: "" },
    { text: "Dairy", value: "dairy", class: "" },
    { text: "No Grouping", value: "nogrouping", class: "font-weight-bold" },
  ];

  public pagination = new PaginationModel();
  public actions: VAction[] = [];
  public mounted() {
    this.fetchData();
  }

  edit(data) {
    //console.log(data);
  }

  removeGrouping() {
    this.groupByField = "";
  }

  onGroupFieldChange(groupColumn: any) {
    this.groupByField = "";
    this.groupByField = groupColumn.value;
    this.groupBySheet = false;
  }

  onChangeGroupByField(event: string) {
    this.groupByField = "";
    this.groupByField = event && event != "" ? event : "";
    this.groupBySheet = false;
  }

  formatGroupHeader(group: string, headers: any, items: any) {
    return group ? group.toUpperCase() : ""; //.ToUpperCase();
  }

  async fetchData() {
    
    const data = await Injector.DairyService.getData(
      this.pagination.rowsPerPage,
      this.pagination.page,
      this.pagination.search,
      this.pagination.sortBy,
      this.pagination.descending
    );
    this.desserts = data.items;
    this.pagination.totalItems = data.totalCount;    
  }
  updatePaging(paging: any): void {
    //("update paging event called");
     //console.log(paging);
      this.pagination.rowsPerPage = paging.itemsPerPage;
      this.pagination.page = paging.page;
      
      this.pagination.sortBy =
        paging.sortBy && paging.sortBy.length ? paging.sortBy[0] : "";
      this.pagination.descending = paging.sortDesc.length
        ? paging.sortDesc[0]
        : paging.sortDesc;
      this.fetchData();
    
    //console.log(paging);
    //this.pagination = paging;
    //  this.fetchData();
  }
}
</script>
