﻿@font-face {
    font-family: 'ITCCharterCom-Regular';
    src: url('../font/ITCCharter-Regular/CharterITC-Regular.woff2') format('woff2'), url('../font/ITCCharter-Regular/CharterITC-Regular.woff') format('woff'), url('../font/ITCCharter-Regular/CharterITC-Regular.ttf') format('truetype');
}

.ITCCharterCom-font,
#app.v-application .display-2,
#app.v-application .headline,
#app.v-application .subtitle-2 {
    font-family: 'ITCCharterCom-Regular', Fallback, sans-serif !important;
}

#app.v-application .subtitle-2{
    font-weight: 600;
}
#app.v-application .error {
    background-color: #ad1b02 !important;
    border-color: #ad1b02 !important;
}

#app .v-navigation-drawer {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}


    #app .v-navigation-drawer .v-list-item__title {
        font-size: 14px;
    }

    #app .v-navigation-drawer .v-navigation-drawer__border {
        display: none;
    }


    #app .v-navigation-drawer .v-list .v-list-item--link.v-list-item--active {
        color: #e0301e;
        border-left: solid 2px #e0301e;
    }

    #app .v-navigation-drawer .v-list-group a.v-list-item--link,
    #app .v-navigation-drawer a.v-list-item--link:first-child,
    #app .v-navigation-drawer .v-list-group:nth-child(2) {
        border-top: 1px solid #f2f2f2;
    }

    #app .v-navigation-drawer .v-list-group,
    #app .v-navigation-drawer .v-sheet > a.v-list-item--link:last-child {
        border-bottom: 1px solid #f2f2f2;
    }

.bb {
    border-bottom: 1px solid #f2f2f2;
}

#app .v-data-table .v-data-table-header {
    background: #e0301e;
}

#app .theme--light.v-btn--active:hover::before, #app .theme--light.v-btn--active::before {
    opacity: 0;
}

#app .v-list .v-list-item .v-icon {
    color: rgb(64, 64, 65);
}

#app .theme--light.v-data-table tbody tr:not(:last-child) td:not(.v-data-table__mobile-row),
#app .theme--light.v-data-table tbody tr:not(:last-child) th:not(.v-data-table__mobile-row) {
    border-bottom: none;
}

#app .theme--light.v-data-table tbody tr:not(.v-data-table__mobile-table-row):nth-of-type(2n) {
    background-color: rgb(242, 242, 242);
}

    #app .theme--light.v-data-table tbody tr:not(.v-data-table__expanded__content):hover,
    #app .theme--light.v-data-table tbody tr:nth-of-type(2n):not(.v-data-table__mobile-table-row):not(.v-data-table__expanded__content):hover {
        background-color: rgb(247, 200, 196);
    }

#app .v-data-table-header-mobile__wrapper .v-label{
    color: #fff !important;
}

#app .v-list .v-list-item--active .v-icon {
    color: inherit;
}

#app .v-data-table .v-data-table-header th, #app .v-data-table .v-data-table-header .v-icon {
    color: #fff;
}

#app .theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: #fff;
}

#app .v-application--wrap > .v-content {
    background-color: #f2f2f2;
}

#app .v-navigation-drawer .theme--light.v-list-item--active::before {
    opacity: 0;
}

#app .v-navigation-drawer .v-list-item__title {
    font-size: 14px;
}

#app .v-navigation-drawer .v-list-item__icon {
    margin: 10px 0;
}


.override .v-text-field__details {
    display: none;
}

.footer {
    background-color: #6d6e71 !important;
    color: #fff !important;
    font-size: 0.65rem;
    line-height: 0.7;
    display: inline-block !important;
}

.footer-xs {
    line-height: 1.1 !important;
    font-size: 0.70rem !important;
}

.footer a {
    color: #fff !important;
}

#app .layout .v-speed-dial--is-active .v-speed-dial__list {
    background: rgb(247, 200, 196);
}

#app .layout .sm-action.v-speed-dial--is-active .v-speed-dial__list {
    background: #fff;
}

#app .txt-heading {
    font-size: 1.2em;
    font-weight: 500;
}

#app .full-width {
    width: 100%;
}

#app .v-data-table th {
    font-size: 0.90rem;
}

#app .pp-xs .v-list-item__title {
    font-size: 1.2rem !important;
}

#app .pp-xs .v-list-item__subtitle {
    font-size: 0.775rem;
}

#app .topbar-divider.v-divider--vertical.v-divider--inset {
    margin-top: 16px;
    min-height: 0;
    max-height: calc(100% - 32px);
    border-color: rgb(0 0 0 / 45%);
}
#app .topbar-title {
    font-size: 16px;
}

.global-search {
    padding: 0 14%;
}

.app-xs.global-search {
    padding: 10px 0%;
}

.global-search .theme--light.v-text-field > .v-input__control > .v-input__slot:before,
.global-search .theme--light.v-text-field:not(.v-input--has-state):hover > .v-input__control > .v-input__slot:before {
    border-color: #fff;
}

    .global-search .v-text-field > .v-input__control > .v-input__slot:after {
        border:none;
    }

.global-overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0,0,0,0.4);
    height: 100%;
    z-index: 5;
}

@media only screen and (max-width: 340px) {
    .office-active #logo {
        margin: 0 0 !important;
    }
}

.ie-browser .user-info .v-list-item__title,
.ie-browser .export-item .v-list-item__title {
    flex: 1 1 auto;
}

.ie-browser .office-popup {
    width: 395px;
}

.ie-browser .layout .v-speed-dial--is-active .v-speed-dial__list {
    width: 360px;
    justify-content: flex-start;
}

.ie-browser .layout .sm-action.v-speed-dial--is-active .v-speed-dial__list {
    width: 40px;
    background: #eeeeee !important;
}

.ie-browser .v-data-table .v-data-footer__select {
    margin-right: 40px;
    flex: 1 1 auto;
}

    .ie-browser .v-data-table .v-data-footer__select .v-select__selections {
        display: -ms-grid;
        margin-right: 15px;
    }

.ie-browser .v-menu__content .v-list-item__content {
    flex: 1 1 auto;
    display: -ms-grid;
}

.ie-browser .client-form .v-input__control {
    display: -ms-inline-flexbox;
}

.ie-browser .v-select:not(.v-autocomplete) .v-select__slot input {
    visibility: hidden;
}

.ie-browser .peoplePicker {
    height: 100%;
}

.ie-browser .date-request legend {
    width: 90.75px !important;
}

.ie-browser .date-approve legend {
    width: 84.75px !important;
}

.ie-browser .date-draft legend {
    width: 72.75px !important;
}

.ie-browser .date-sent legend {
    width: 57.75px !important;
}

.ie-browser .date-receive legend {
    width: 81.75px !important;
}

.ie-browser .override-duedate legend {
    width: 102px !important;
}

.ie-browser .override-extendeduedate legend {
    width: 154.5px !important;
}

@media only screen and (max-width: 599px) {
    .ios-table > div > table > tbody {
        display: block !important;
    }
}

/****************************************
******************LOGO******************
****************************************/
#logo {
    background-image: url("../../../public/pwc logo.svg");
    width: 50px;
    height: 65px;
    margin-right: 16px;
    margin-left: 16px;
}

.app-xs {
    height: 75px !important;
}

    .app-xs .v-toolbar__title,
    .logo-title-xs {
        position: absolute;
        margin-top: 60px;
        text-align: center;
        width: 100%;
        margin-left: -16px !important;
    }
.app-ano-xs #logo {
    margin-right: 10px;
    margin-left: 10px;
}
.app-ano-xs .v-toolbar__title {
    margin-left: 10px;
}

.export-item .v-list-item__title {
    font-size: 0.875rem;
}

/***********Floating Scrollbar***********/
#floating-scrollbar {
    bottom: 19px !important;
    z-index: 1;
}