﻿<template>
  <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
    <div class="Container">
      <h1 class="MainTitle">
        You are not authorized to view this page
      </h1>
      <p class="Main Description">
        {{ error }}
      </p>

      <a href="javascript:void(0)" @click="redirectToHome" v-if="isHomeVisible"
        >Home</a
      >
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span v-if="isHomeVisible">|</span> &nbsp;
      <a href="javascript:void(0)" @click="logOff">Sign Out</a>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { Injector } from "../services/injector";
import { Base } from "../components/common/Base";
import { Roles } from "../models/client.tracking.item";

@Component({})
export default class Error403Page extends Base {
  public error: any = {};
  private isHomeVisible: boolean = false;
  public mounted() {
    this.error = this.$route.query.msg || "Please contact administrator";
    if (
        this.roles && (
      this.roles.indexOf(Roles.Administrator) > -1 ||
      this.roles.indexOf(Roles.OfficeAdmin) > -1 ||
      this.roles.indexOf(Roles.User) > -1)
    ) {
      this.isHomeVisible = true;
    }
  }

  public async logOff(): Promise<void> {
    localStorage.removeItem("officeSelected");
    const logoutUrl = await Injector.UserService.logout();
    console.log(logoutUrl);
    if (logoutUrl) {
      if (
        process.env.VUE_APP_ENVIRONMENT == "" ||
        process.env.VUE_APP_ENVIRONMENT == "LOCAL" ||
        process.env.VUE_APP_ENVIRONMENT == undefined
      ) {
        window.location.replace(
          logoutUrl + "?returnurl=" + window.location.origin
        );
      } else {
        window.location.replace(
          logoutUrl + "&returnurl=" + window.location.origin
        );
      }
    }
  }

  public async redirectToHome(): Promise<void> {
    this.$router.push({ name: "Home" });
  }
}
</script>
