<template>
    <div class="about">
        <h1>This is an about page</h1>
        <v-btn dark tile class="text-capitalize" @click="shoNotify()">Notify Me</v-btn>
    </div>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Base } from '../components/common/Base';

    @Component({})
    export default class About extends Base {
        public shoNotify(): void {
            this.notify(true, "hello");
        }
    }
</script>
