<template>
 <v-container fluid>
    <div class="forbidden">
        <h1>You do not have access to specified resource</h1>
        
    </div>
 </v-container>
</template>
<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Base } from '../components/common/Base';
    

    @Component({})
    export default class Forbidden extends Base {
        
    }
</script>
