<template>
    <v-container fill-height fluid class="home">
        <v-row align="center" justify="center" class="text-center">
            <v-col>
                <h1 class="display-2 font-weight-bold mb-3">Welcome to US Corporate Tax Client Tracking </h1>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
    import { Component } from "vue-property-decorator";
    import { Base } from '../components/common/Base';

    @Component({})
    export default class Home extends Base {
    }
</script>
