<template>
  <v-container fluid>
    <div class="picker">
      <People-Picker
        searchPlaceholder="Staff"
        :pageSize="5"
        v:bind:allowMultipleSelection="true"
        v-model="vm.user"
        @selectedUsers="vm.user = $event"
      ></People-Picker>
    </div>
  </v-container>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { Base } from "../components/common/Base";

@Component({})
export default class Picker extends Base {
  private vm = {
    user: "",
  };
}
</script>
