﻿<template>
    <form>
        <ValidationObserver ref="bulkForm">
            <v-card outlined class="mb-2">
                <v-card-title>Client Info</v-card-title>
                <v-card-text>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-text-field v-model="model.client"
                                          dense
                                          outlined
                                          label="Client"
                                          :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-text-field v-model="model.clientCode"
                                          dense
                                          outlined
                                          label="Client Code"
                                          :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="industries"
                                      item-text="text"
                                      item-value="value"
                                      v-model="model.industry"
                                      label="Industry"
                                      :loading="loader.industry"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-text-field v-model="model.clientContact"
                                          dense
                                          outlined
                                          label="Client Contact"
                                          :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-text-field v-model="model.clientPhone"
                                          dense
                                          outlined
                                          label="Client Phone"
                                          :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-text-field>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <ValidationProvider v-slot="{ errors }" name="Client Email" rules="email">
                                <v-text-field v-model="model.clientEmail"
                                              dense
                                              outlined
                                              label="Client Email"
                                              :error-messages="errors"
                                              :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                                </v-text-field>
                            </ValidationProvider>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
            <v-card outlined class="my-2">
                <v-card-title>PwC Info</v-card-title>
                <v-card-text>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="firstPreparers"
                                      item-text="staffNameDisp"
                                      v-model="firstPreparer"
                                      label="First Preparer"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="secondPreparers"
                                      item-text="staffNameDisp"
                                      v-model="secondPreparer"
                                      label="Second Preparer"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="firstReviewers"
                                      item-text="staffNameDisp"
                                      v-model="firstReviewer"
                                      label="First Reviewer"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="secondReviewers"
                                      item-text="staffNameDisp"
                                      v-model="secondReviewer"
                                      label="Second Reviewer"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>

                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="partners"
                                      item-text="staffNameDisp"
                                      v-model="partner"
                                      label="Partner"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="signers"
                                      item-text="staffNameDisp"
                                      v-model="signer"
                                      label="Signer"
                                      @change="onChangeProfile"
                                      return-object
                                      :loading="loader.staffProfile"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                            </v-select>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>

            <v-card outlined class="mb-2">
                <v-card-title>Filing Info</v-card-title>
                <v-card-text>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="statuses"
                                      label="Status"
                                      item-text="text"
                                      item-value="value"
                                      v-model="model.status"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'"
                                      :loading="loader.status">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="jurisdictions"
                                      item-text="text"
                                      item-value="value"
                                      v-model="model.jurisdiction"
                                      label="Jurisdiction"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'"
                                      :loading="loader.jurisdiction"
                                      @change="onJurisdictionChange">
                            </v-select>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <ValidationProvider v-slot="{ errors }" name="Form Number" :rules="{required:model.jurisdiction?true:false}">
                                <v-select dense
                                          outlined
                                          :items="formNumbers"
                                          item-text="formNumber"
                                          v-model="duedate"
                                          label="Form Number"
                                          :loading="loader.formNumber"
                                          @change="onFormNumberChange"
                                          return-object
                                          :error-messages="errors"
                                          :placeholder="$browserDetect.isIE ? undefined : 'No Change'">
                                </v-select>
                            </ValidationProvider>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
            <v-card outlined>
                <v-card-title>Due Dates</v-card-title>
                <v-card-text>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-menu v-model="yearEndMenu"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.yearEndDateDisp"
                                                  label="Year End"
                                                  append-icon="event"
                                                  readonly
                                                  outlined
                                                  dense
                                                  persistent-hint
                                                  hint="<span class='mdi mdi-information-outline'></span> Leave blank to keep Year End date the same"
                                                  v-on="on">
                                        <template v-slot:message="{ message }">
                                            <span v-html="message"></span>
                                        </template>
                                    </v-text-field>
                                </template>
                                <v-date-picker v-model="model.yearEnd"
                                               @input="yearEndMenu = false"
                                               @change="onYearEnd">
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-menu v-model="clientExpectedDeadlineMenu"
                                    :close-on-content-click="false"
                                    :nudge-right="40"
                                    transition="scale-transition"
                                    offset-y
                                    min-width="290px">
                                <template v-slot:activator="{ on }">
                                    <v-text-field v-model="model.clientExpectedDeadlineDisp"
                                                  label="Client Expected Deadline"
                                                  append-icon="event"
                                                  readonly
                                                  outlined
                                                  dense
                                                  v-on="on">
                                    </v-text-field>
                                </template>
                                <v-date-picker v-model="model.clientExpectedDeadline"
                                               @input="clientExpectedDeadlineMenu = false"
                                               @change="model.clientExpectedDeadlineDisp = formatDate(model.clientExpectedDeadline)">
                                </v-date-picker>
                            </v-menu>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <v-select dense
                                      outlined
                                      :items="statusComments"
                                      label="Status Comments"
                                      item-text="text"
                                      item-value="value"
                                      v-model="model.statusComment"
                                      :placeholder="$browserDetect.isIE ? undefined : 'No Change'"
                                      :loading="loader.statusComment">
                            </v-select>
                        </v-col>
                    </v-row>
                    <v-row dense>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <label class="d-inline-block float-left txt-heading">Send Notification To:</label>
                            <div class="d-inline-block ml-5 dense ">
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.noSendNotification"
                                            label="No Change"
                                            value="No Change"
                                            dense>
                                </v-checkbox>
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.notificationRecipsValue"
                                            label="Associate"
                                            value="Preparer"
                                            dense>
                                </v-checkbox>
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.notificationRecipsValue"
                                            label="Sr. Associate"
                                            value="Preparer2"
                                            dense>
                                </v-checkbox>
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.notificationRecipsValue"
                                            label="Manager"
                                            value="Reviewer"
                                            dense>
                                </v-checkbox>
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.notificationRecipsValue"
                                            label="Sr. Manager"
                                            value="Reviewer2"
                                            dense>
                                </v-checkbox>
                                <v-checkbox class="mt-0 pt-0"
                                            v-model="model.notificationRecipsValue"
                                            label="Partner"
                                            value="Signer"
                                            dense>
                                </v-checkbox>
                            </div>
                        </v-col>
                        <v-col cols="12" sm="6" md="6" lg="6" xl="6">
                            <label class="d-inline-block float-left txt-heading">Information Request Status:</label>
                            <v-radio-group class="d-inline-block ml-5 mt-2 pt-0" v-model="model.informationRequestStatus" column>
                                <v-radio label="Not Started" value="Not Started"></v-radio>
                                <v-radio label="Sent to Client" value="Sent to Client"></v-radio>
                                <v-radio label="Received by Client" value="Received by Client"></v-radio>
                            </v-radio-group>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </ValidationObserver>
    </form>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { BulkUpdateForm, Loader } from '../models/bulkupdate';
    import { Injector } from '../services/injector';
    import { SelectItem } from "../models/master";
    import { DueDateExtension } from '../models/duedate.extension';
    import { StaffProfile } from '../models/staffprofile';
    import { Utils } from '../helper/utils';
    import moment from "moment";

    @Component({
        watch: {
            'model.noSendNotification': function () {
                const _this = this as any;
                _this.onNotificationNoChange();
            },
            'model.notificationRecipsValue': function () {
                const _this = this as any;
                _this.onNotificationChange();
            }
        },
        props: ['model', 'office', 'modelChange'],
    })
    export default class BulkUpdateFormPage extends Vue {
        public defaultSelectItems: SelectItem[] = [
            {
                text: 'No Change',
                formattedText: 'No Change',
                formattedTextValue: 'No Change',
                value: '',
            }
        ];
        public loader = Loader;
        public clientExpectedDeadlineMenu: boolean = false;
        public yearEndMenu: boolean = false;
        public dateFormat: string = "YYYY-MM-DD";
        public disDateFormat: string = "MMM DD, YYYY";

        public firstPreparers: StaffProfile[] = [];
        public secondPreparers: StaffProfile[] = [];
        public firstReviewers: StaffProfile[] = [];
        public secondReviewers: StaffProfile[] = [];
        public partners: StaffProfile[] = [];
        public signers: StaffProfile[] = [];
        public staffProfiles: StaffProfile[] = [];

        public firstPreparer: StaffProfile | null = null;
        public secondPreparer: StaffProfile | null = null;
        public firstReviewer: StaffProfile | null = null;
        public secondReviewer: StaffProfile | null = null;
        public partner: StaffProfile | null = null;
        public signer: StaffProfile | null = null;

        public pwcOffices: SelectItem[] = [];
        public statuses: SelectItem[] = [];
        public jurisdictions: SelectItem[] = [];
        public statusComments: SelectItem[] = [];
        public formNumbers: SelectItem[] = [];
        public industries: SelectItem[] = [];

        public duedate: DueDateExtension | null = null;
        public model: BulkUpdateForm;
        public office: string | null;
        public mounted(): void {
            this.$emit('bulkFormRef', this.$refs.bulkForm);

            this.$watch('modelChange', (newVal, oldVal) => {
                if (newVal) {
                    if (this.office) {
                        this.resetStaffProfiles();
                        this.getStaffProfileByOffice();
                        this.resetFormNumber();
                    }
                }
            });

            if (this.office) {
                this.resetStaffProfiles();
                this.getStaffProfileByOffice();
            }
            this.getJurisdictions();
            this.getStatusComments();
            this.getStatuses();
            this.getIndustries();
        }
        public async getStaffProfileByOffice(): Promise<void> {
            try {
                this.loader.staffProfile = true;
                this.staffProfiles = await Injector.StaffProfileService.getByOffice(this.office ? this.office : "", null);
                this.firstPreparers = Utils.copy(this.staffProfiles);
                this.secondPreparers = Utils.copy(this.staffProfiles);
                this.firstReviewers = Utils.copy(this.staffProfiles);
                this.secondReviewers = Utils.copy(this.staffProfiles);
                this.partners = Utils.copy(this.staffProfiles);
                this.signers = Utils.copy(this.staffProfiles);
            } finally {
                this.loader.staffProfile = false;
            }
        }
        public async getJurisdictions(): Promise<void> {
            try {
                this.loader.jurisdiction = true;
                const jurisdictions = await Injector.MasterService.getJurisdictionShortForms();
                this.jurisdictions = this.defaultSelectItems.concat(jurisdictions);
            } finally {
                this.loader.jurisdiction = false;
            }
        }
        public async getStatusComments(): Promise<void> {
            try {
                this.loader.statusComment = true;
                const statusComments = await Injector.MasterService.getStatusComments();
                this.statusComments = this.defaultSelectItems.concat(statusComments);
            } finally {
                this.loader.statusComment = false;
            }
        }
        public async getStatuses(): Promise<void> {
            try {
                this.loader.status = true;
                const statuses = await Injector.MasterService.getStatuses();
                this.statuses = this.defaultSelectItems.concat(statuses);
            } finally {
                this.loader.status = false;
            }
        }
        public async getFormNumbers(): Promise<void> {
            try {
                this.resetFormNumber();
                if (this.model.jurisdiction) {
                    this.loader.formNumber = true;
                    this.formNumbers = await Injector.DueDateService.getFormNumberByJurisdiction(this.model.jurisdiction, null);
                }
            } finally {
                this.loader.formNumber = false;
            }
        }
        public async getIndustries(): Promise<void> {
            try {
                this.loader.industry = true;
                this.industries = await Injector.MasterService.getIndustries();
            } finally {
                this.loader.industry = false;
            }
        }
        public onFormNumberChange(): void {
            if (this.duedate) {
                this.model.txtDueDaysValue = this.duedate.originalDueDateDays || "0";
                this.model.txtDueMthsValue = this.duedate.originalDueDateMonths || "0";
                this.model.txtExtDaysValue = this.duedate.extensionDueDateDays || "0";
                this.model.txtExtMthsValue = this.duedate.extensionDueDateMonths || "0";
                this.model.formNumber = this.duedate.formNumber;
            }
            this.bindDueDate();
            this.bindExtendedDueDate();
            this.bindNotificationDate();
        }
        public onChangeProfile(): void {
            let firstPreparers: StaffProfile[] = Utils.copy(this.staffProfiles);
            let secondPreparers: StaffProfile[] = Utils.copy(this.staffProfiles);
            let firstReviewers: StaffProfile[] = Utils.copy(this.staffProfiles);
            let secondReviewers: StaffProfile[] = Utils.copy(this.staffProfiles);
            let partners: StaffProfile[] = Utils.copy(this.staffProfiles);
            let signers: StaffProfile[] = Utils.copy(this.staffProfiles);

            if (this.firstPreparer) {
                this.model.preparerValue = this.firstPreparer.id;
                this.model.preparerText = this.firstPreparer.staffNameDisp;
                this.model.prepInitials = this.firstPreparer.initials;
                this.model.preparerEmail = this.firstPreparer.email;

                secondPreparers = this.filterProfile(secondPreparers, this.firstPreparer);
                firstReviewers = this.filterProfile(firstReviewers, this.firstPreparer);
                secondReviewers = this.filterProfile(secondReviewers, this.firstPreparer);
                partners = this.filterProfile(partners, this.firstPreparer);
                signers = this.filterProfile(signers, this.firstPreparer);
            }

            if (this.secondPreparer) {
                this.model.preparer2Value = this.secondPreparer.id;
                this.model.preparer2Text = this.secondPreparer.staffNameDisp;
                this.model.prepInitials2 = this.secondPreparer.initials;
                this.model.preparer2Email = this.secondPreparer.email;

                firstPreparers = this.filterProfile(firstPreparers, this.secondPreparer);
                firstReviewers = this.filterProfile(firstReviewers, this.secondPreparer);
                secondReviewers = this.filterProfile(secondReviewers, this.secondPreparer);
                partners = this.filterProfile(partners, this.secondPreparer);
                signers = this.filterProfile(signers, this.secondPreparer);
            }

            if (this.firstReviewer) {
                this.model.reviewerValue = this.firstReviewer.id;
                this.model.reviewerText = this.firstReviewer.staffNameDisp;
                this.model.revInitials = this.firstReviewer.initials;
                this.model.reviewerEmail = this.firstReviewer.email;

                firstPreparers = this.filterProfile(firstPreparers, this.firstReviewer);
                secondPreparers = this.filterProfile(secondPreparers, this.firstReviewer);
                secondReviewers = this.filterProfile(secondReviewers, this.firstReviewer);
                partners = this.filterProfile(partners, this.firstReviewer);
                signers = this.filterProfile(signers, this.firstReviewer);
            }

            if (this.secondReviewer) {
                this.model.reviewer2Value = this.secondReviewer.id;
                this.model.reviewer2Text = this.secondReviewer.staffNameDisp;
                this.model.revInitials2 = this.secondReviewer.initials;
                this.model.reviewer2Email = this.secondReviewer.email;

                firstPreparers = this.filterProfile(firstPreparers, this.secondReviewer);
                secondPreparers = this.filterProfile(secondPreparers, this.secondReviewer);
                firstReviewers = this.filterProfile(firstReviewers, this.secondReviewer);
                partners = this.filterProfile(partners, this.secondReviewer);
                signers = this.filterProfile(signers, this.secondReviewer);
            }

            if (this.partner) {
                this.model.partnerValue = this.partner.id;
                this.model.partnerText = this.partner.staffNameDisp;
                this.model.partnerInitials = this.partner.initials;
                this.model.partnerEmail = this.partner.email;

                firstPreparers = this.filterProfile(firstPreparers, this.partner);
                secondPreparers = this.filterProfile(secondPreparers, this.partner);
                firstReviewers = this.filterProfile(firstReviewers, this.partner);
                secondReviewers = this.filterProfile(secondReviewers, this.partner);
                signers = this.filterProfile(signers, this.partner);
            }

            if (this.signer) {
                this.model.signerValue = this.signer.id;
                this.model.signerText = this.signer.staffNameDisp;
                this.model.signerInitials = this.signer.initials;
                this.model.signerEmail = this.signer.email;

                firstPreparers = this.filterProfile(firstPreparers, this.signer);
                secondPreparers = this.filterProfile(secondPreparers, this.signer);
                firstReviewers = this.filterProfile(firstReviewers, this.signer);
                secondReviewers = this.filterProfile(secondReviewers, this.signer);
                partners = this.filterProfile(partners, this.signer);
            }

            this.firstPreparers = firstPreparers;
            this.secondPreparers = secondPreparers;
            this.firstReviewers = firstReviewers;
            this.secondReviewers = secondReviewers;
            this.partners = partners;
            this.signers = signers;
        }
        public filterProfile(profiles: StaffProfile[], staffProfile: StaffProfile): StaffProfile[] {
            for (let i = 0; i < profiles.length; i++) {
                if (profiles[i].id === staffProfile.id) {
                    profiles.splice(i, 1);
                    return profiles;
                }
            }

            return profiles;
        }
        public resetStaffProfiles(): void {
            this.firstPreparer = null;
            this.secondPreparer = null;
            this.firstReviewer = null;
            this.secondReviewer = null;
            this.partner = null;
            this.signer = null;
            this.firstPreparers = [];
            this.secondPreparers = [];
            this.firstReviewers = [];
            this.secondReviewers = [];
            this.partners = [];
            this.signers = [];

            this.model.preparerValue = '';
            this.model.preparerText = '';
            this.model.prepInitials = '';

            this.model.preparer2Value = '';
            this.model.preparer2Text = '';
            this.model.prepInitials2 = '';

            this.model.reviewerValue = '';
            this.model.reviewerText = '';
            this.model.revInitials = '';

            this.model.reviewer2Value = '';
            this.model.reviewer2Text = '';
            this.model.revInitials2 = '';

            this.model.partnerValue = '';
            this.model.partnerText = '';
            this.model.partnerInitials = '';

            this.model.signerValue = '';
            this.model.signerText = '';
            this.model.signerInitials = '';
        }
        public resetFormNumber(): void {
            this.duedate = null;
            this.formNumbers = [];
            this.model.txtDueDaysValue = '';
            this.model.txtDueMthsValue = '';
            this.model.txtExtDaysValue = '';
            this.model.txtExtMthsValue = '';
            this.model.formNumber = '';
        }
        public formatDate(date: Date | string): string | null {
            if (date) {
                return moment(date).format("MMM DD, YYYY");
            }
            return null;
        }
        public onNotificationNoChange(): void {
            if (this.model.noSendNotification === 'No Change') {
                this.model.notificationRecipsValue = [];
            }
        }
        public onNotificationChange(): void {
            if (this.model.notificationRecipsValue && this.model.notificationRecipsValue.length) {
                this.model.noSendNotification = '';
            }
        }
        public onJurisdictionChange(): void {
            this.getFormNumbers();
            this.model.dueDate = null;
            this.model.extendedDate = null;
            this.model.notificationDate = null;
        }
        public onYearEnd(): void {
            this.model.yearEndDateDisp = this.formatDate(this.model.yearEnd as any);
            this.bindDueDate();
            this.bindExtendedDueDate();
            this.bindNotificationDate();
        }
        public bindDueDate(): void {
            if (this.model.yearEnd && this.model.formNumber) {
                let date = moment(this.model.yearEnd);
                if (this.model.jurisdiction === "Texas" ||
                    this.model.jurisdiction === "TX") {
                    if (date.month() + 1 > 5) {
                        this.model.dueDate = (date.year() + 1) + "-05-15";
                    } else {
                        this.model.dueDate = date.year() + "-05-15";
                    }
                    this.calculateDueDayAndMonth();
                    return;
                }
                if (this.model.formNumber === "TDF 90-22.1" ||
                    this.model.formNumber === "90-22-1") {
                    if (date.month() + 1 > 6) {
                        this.model.dueDate = (date.year() + 1) + "-06-30";
                    } else {
                        this.model.dueDate = date.year() + "-06-30";
                    }
                    this.calculateDueDayAndMonth();
                    return;
                }
                const month = isNaN(Number(this.model.txtDueMthsValue))
                    ? 0
                    : Number(this.model.txtDueMthsValue);
                const day = isNaN(Number(this.model.txtDueDaysValue))
                    ? 0
                    : Number(this.model.txtDueDaysValue);

                date = date.add(month, 'M').add(day, 'days');
                this.model.dueDate = date.format(this.dateFormat);
            } else {
                this.model.dueDate = null;
            }
        }
        public bindExtendedDueDate(): void {
            if (this.model.dueDate && this.model.formNumber) {
                let date = moment(this.model.dueDate);
                const month = isNaN(Number(this.model.txtExtMthsValue))
                    ? 0
                    : Number(this.model.txtExtMthsValue);
                const day = isNaN(Number(this.model.txtExtDaysValue))
                    ? 0
                    : Number(this.model.txtExtDaysValue);

                date = date.add(month, 'M').add(day, 'days');
                this.model.extendedDate = date.format(this.dateFormat);
            } else {
                this.model.extendedDate = null;
            }
        }
        public bindNotificationDate(): void {
            let notificationDate: string | null = null;
            if (this.model.extendedDate) {
                notificationDate = this.model.extendedDate;
            }
            else {
                notificationDate = this.model.dueDate;
            }

            if (notificationDate) {
                this.model.notificationDate = moment(notificationDate)
                    .subtract(1, "months")
                    .format(this.dateFormat);
            } else {
                this.model.notificationDate = null;
            }
        }
        public calculateDueDayAndMonth(): void {
            if (this.model.dueDate && this.model.yearEnd) {
                const _yearEnd = moment(this.model.yearEnd);
                const _dueDate = moment(this.model.dueDate);
                const _months = _dueDate.diff(_yearEnd, 'months');
                _yearEnd.add(_months, 'months');
                const _days = _dueDate.diff(_yearEnd, 'days');
                this.model.txtDueDaysValue = _days.toString();
                this.model.txtDueMthsValue = _months.toString();
            }
        }
    }
</script>