<template>
    <div>
        <ValidationProvider v-slot="{ errors }" :name="name" :rules="rules">
            <v-autocomplete :disabled="isDisabled"
                            v-model="selectedValue"
                            :items="filtered"
                            :loading="isLoading"
                            :multiple="false"
                            :search-input.sync="search"
                            item-text="staffName"
                            item-value="staffName"
                            return-object
                            :label="inputPlaceholder"
                            placeholder="Start typing to Search"
                            append-outer-icon="account_box"
                            @click:append-outer="openDialog"
                            outlined
                            chips
                            hide-selected
                            @change="changeEvent"
                            :error-messages="errors">
                <template v-slot:no-data>
                    <v-list-item>
                        <v-list-item-title>No staff data or item already selected</v-list-item-title>
                    </v-list-item>
                </template>
                <template v-slot:selection="data">
                    <v-chip v-bind="data.attrs"
                            :input-value="data.selected"
                            close
                            v-on="data.on"
                            @click="data.select"
                            @click:close="remove(data.item)">{{ data.item.staffName }}</v-chip>
                </template>
            </v-autocomplete>
        </ValidationProvider>
        <v-dialog v-model="dialog"
                  scrollable
                  content-class="peoplePicker"
                  max-width="600px">
            <v-card>
                <v-card-title>
                    <span class="headline">People Picker</span>
                </v-card-title>
                <v-card-text>
                    <v-container :class="{'pa-0': $vuetify.breakpoint.xsOnly}">
                        <v-row dense>
                            <v-col cols="12">
                                <v-text-field placeholder="Input name here"
                                              dense
                                              outlined
                                              v-model="dialogUserSearch"
                                              append-icon="mdi-magnify"
                                              v-on:click:append="searchUser"
                                              @keydown="keyDownEvent">
                                </v-text-field>
                            </v-col>
                            <v-col v-for="(item, i) in dialogUsers" :key="i" cols="12">
                                <v-card v-on:click.native="personSelected(i)">
                                    <v-list-item two-line class="peoplePickerItem">
                                        <v-avatar class="ma-3" :size="$vuetify.breakpoint.xsOnly ? '50': '80'" tile>
                                            <v-img v-if="item.avatar"
                                                   :src="item.formattedAvatar"></v-img>
                                            <v-img v-if="!item.avatar"
                                                   src="../assets/avatar.png"></v-img>
                                        </v-avatar>
                                        <v-list-item-content :class="{'pp-xs': $vuetify.breakpoint.xsOnly}">
                                            <v-list-item-title class="headline mb-1"
                                                               v-text="item.staffName"></v-list-item-title>
                                            <v-list-item-subtitle v-text="item.staffCode"></v-list-item-subtitle>
                                            <v-list-item-subtitle v-text="item.email"></v-list-item-subtitle>
                                        </v-list-item-content>
                                        <v-avatar class="ma-3" size="30" v-if="item.isSelected">
                                            <v-icon large>mdi-checkbox-marked-circle</v-icon>
                                        </v-avatar>
                                    </v-list-item>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card-text>
                <v-card-actions class="d-inline">
                    <div class="ma-2 float-left" v-show="showSelectedButton">
                        <v-btn outlined tile
                               class="white--text class text-capitalize"
                               color="primary"
                               v-on:click="showSelected">Selected</v-btn>
                    </div>
                    <div class="ma-2 float-left" v-show="!showSelectedButton">
                        <v-btn outlined tile
                               class="white--text class text-capitalize"
                               color="primary"
                               v-on:click="showAllSearchedUsers">Back to search</v-btn>
                    </div>
                    <v-spacer></v-spacer>
                    <div class="float-right d-flex">
                        <div class="ma-2">
                            <v-badge v-if="selectedCount" overlap offset-x="25"
                                     color="primary"
                                     :content="selectedCount">
                                <v-btn outlined tile
                                       class="white--text class text-capitalize"
                                       color="primary"
                                       v-on:click="setSelected">Ok</v-btn>
                            </v-badge>
                            <v-btn v-if="!selectedCount"
                                   outlined tile
                                   class="white--text class text-capitalize"
                                   color="primary"
                                   v-on:click="setSelected">Ok</v-btn>
                        </div>
                        <div class="ma-2">
                            <v-btn tile
                                   outlined
                                   class="white--text class text-capitalize"
                                   color="primary"
                                   @click.stop="dialog = false">Close</v-btn>
                        </div>
                    </div>
                </v-card-actions>
                <!-- <v-pagination v-model="page" :page="page" @input="nextPage" :length="length"></v-pagination> -->
            </v-card>
        </v-dialog>
    </div>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";
    import { Person } from "../models/Person";
    import axios, { AxiosResponse } from "axios";
    import { Injector } from "../services/injector";
    import { StaffInfo } from "../models/staff.info";
    @Component({
        props: {
            allowMultipleSelection: { type: Boolean, default: () => true },
            isDisabled: { type: Boolean, default: () => false },
            searchPlaceholder: { type: String },
            pageSize: { type: Number, required: true },
            selectedMember: { type: Object, default: (StaffInfo) => null },
            rules: { type: String },
            name: { type: String },
            fakeUser: { type: Boolean, default: () => false },
        },
    })
    export default class PeoplePicker extends Vue {
        private selectedCount: number | null = null;
        public mounted(): void {
            this.$watch("allowMultipleSelection", (newVal, oldVal) => {
                this.allowMultipleSelection = this.$props.allowMultipleSelection;
            });

            this.$watch("selectedMember", (newVal, oldVal) => {
                if (this.$props.selectedMember) {
                    this.selectedValue = Object.assign({}, this.mapSelectedMembers());
                    this.filtered = [];
                    this.filtered.push(Object.assign({}, this.selectedValue));
                    this.selectedUser = Object.assign({}, this.mapSelectedMembers());
                }
            });

            this.$watch("search", (newVal, oldVal) => {
                if (!newVal || newVal == "") {
                    return;
                }
                this.addFakeUser();
                this.isLoading = true;
                this.fetchEntries(newVal);
            });
        }
        private queryKeyword: string | undefined;
        private dialogUserSearch: string | null = null;
        private page: number = 1;
        private search: string | null = null;
        private pageNumber: number = 1;
        private selectedValue: any = null;
        private isLoading: boolean = false;
        private showSelectedButton: boolean = true;
        private length: number = 0;
        private searchedUsers: Person[] = [];
        private users: Person[] = [];
        private dialogUsers: Person[] = [];
        private allowMultipleSelection: boolean = false;
        private noAvatarUrl = "../../public/avatar.png";
        get inputPlaceholder() {
            return this.$props.searchPlaceholder;
        }
        private _searchTimerId: number = 1000;
        private filtered: Person[] = [];
        private selectedUser: any = null;
        private dialog = false;
        private dataLoading = false;

        private async getUsers(valueRequired: boolean): Promise<void> {
            if (valueRequired && (this.dialogUserSearch == null || this.dialogUserSearch == "")) {
                return;
            }

            this.searchedUsers = [];
            const responseData = await Injector.UserService.getUsers(
                this.$props.pageSize,
                this.pageNumber,
                true,
                this.dialogUserSearch ? this.dialogUserSearch : null
            );

            this.searchedUsers = responseData.results;

            if (this.searchedUsers.length > 0) {
                this.searchedUsers.map((x) => {
                    if (this.selectedValue && this.selectedValue.userId == x.userId) {
                        x.isSelected = true;
                        this.selectedValue.avatar = x.avatar;
                    } else {
                        x.isSelected = false;
                    }
                });

                if (!this.selectedValue) {
                    this.dialogUsers = [];
                    this.dialogUsers = this.searchedUsers.map((x) => ({ ...x }));
                    this.selectedCount = null;
                }
                this.dialogUsers.forEach((x) => {
                    if (x.avatar && x.avatar != "") {
                        x.formattedAvatar = "data:image/png;base64," + x.avatar;
                    } else {
                        x.formattedAvatar = null;
                    }
                });
            }
        }

        public searchChanged(e: string): void {
            e = e ? e.toLowerCase() : "";
            this.filtered = this.users.filter(
                (item) => item.staffName.toLowerCase().search(e) > -1
            );
        }
        public searchFocused(): void {
            this.filtered = this.users;
        }
        public removeSelectedUser(userId): void {
            this.selectedUser = null;
            this.filtered.map((x) => {
                if (x.userId == userId) {
                    x.isSelected = false;
                }
            });
            this.handleInput();
        }

        public created(): void {
            this.users = [];
            this.users = this.$props.userItems;
            if (this.$props.selectedMember) {
                this.selectedValue = Object.assign({}, this.mapSelectedMembers());
                this.filtered = [];
                this.filtered.push(Object.assign({}, this.selectedValue));
            }
        }

        private mapSelectedMembers(): StaffInfo {
            const member: StaffInfo = {
                email: this.$props.selectedMember.email,
                userId: this.$props.selectedMember.userId,
                staffName: this.$props.selectedMember.staffName,
                staffCode: this.$props.selectedMember.staffCode,
                avatar: this.$props.selectedMember.avatar,
                formattedAvatar: this.$props.selectedMember.avatar
                    ? "data:image/png;base64," + this.$props.selectedMember.avatar
                    : null,
                isSelected: true,
                organizationCode: "",
                staffId: "",
            };

            return member;
        }
        public showSelected(): void {
            this.dialogUsers = [];
            if (this.selectedUser) {
                this.dialogUsers.push(Object.assign({}, this.selectedUser));
            }
            this.showSelectedButton = !this.showSelectedButton;
        }
        public showAllSearchedUsers() {
            this.dialogUsers = [];
            // marking the selected users
            this.searchedUsers.forEach((x) => {
                if (this.selectedUser && this.selectedUser.userId == x.userId) {
                    x.isSelected = true;
                }
            });
            this.dialogUsers = this.searchedUsers.map((x) => ({ ...x }));
            this.showSelectedButton = !this.showSelectedButton;
        }
        public setSelected(): void {
            this.filtered = [];
            this.selectedValue = null;
            if (this.selectedUser) {
                this.selectedValue = Object.assign({}, this.selectedUser);
                this.filtered.push(Object.assign({}, this.selectedUser));
            }
            this.dialogUserSearch = "";
            this.dialog = false;
            this.handleInput();
        }
        public personSelected(i: number): void {
            const selectedPerson = this.dialogUsers[i];
            if (selectedPerson) {
                if (selectedPerson.isSelected) {
                    selectedPerson.isSelected = false;
                } else {
                    this.dialogUsers.map((value, i) => {
                        value.isSelected = false;
                    });

                    selectedPerson.isSelected = true;
                }
                this.dialogUsers[i] = selectedPerson;

                // remove the user from selected users (if exists)
                if (
                    this.selectedUser &&
                    this.selectedUser.userId == selectedPerson.userId
                ) {
                    this.selectedUser = null;
                }

                if (selectedPerson.isSelected) {
                    this.selectedUser = Object.assign({}, selectedPerson);
                    this.selectedCount = 1;
                } else {
                    this.selectedCount = null;
                }
                this.$forceUpdate();
            }
        }
        private handleInput(): void {
            this.$emit("selectedUser", this.selectedValue);
        }
        private remove(item): void {
            this.selectedValue = null;
            this.selectedUser = null;
            this.selectedCount = null;
            this.filtered = [];
            this.dialogUsers = [];
            this.$forceUpdate();
            this.handleInput();
        }
        private keyDownEvent(e: KeyboardEvent): void {
            if (e.keyCode == 13) {
                this.getUsers(true);
            }
        }
        private searchUser(): void {
            this.getUsers(true);
        }
        private openDialog(): void {
            this.selectedUser = null;
            this.dialogUserSearch = null;
            this.dialogUsers = [];
            this.searchedUsers = [];
            if (this.selectedValue) {
                this.selectedValue.isSelected = true;
                this.selectedUser = Object.assign({}, this.selectedValue);
                this.dialogUsers.push(Object.assign({}, this.selectedUser));
                this.searchedUsers.push(Object.assign({}, this.selectedUser));
                this.showSelectedButton = false;
                this.selectedCount = 1;
            }
            this.dialogUserSearch = null;
            this.dialog = true;
            this.getUsers(false);
        }
        private changeEvent() {
            this.handleInput();
            this.search = "";
        }
        private addFakeUser(): void {
            if (this.$props.fakeUser && this.search) {
                const searchItem = {
                    avatar: '',
                    email: '',
                    firstName: this.search,
                    lastName: '',
                    organizationCode: '',
                    phone: '',
                    staffCode: '',
                    staffName: this.search,
                    userId: '',
                    isFake: true
                };
                if (!this.filtered) {
                    this.filtered = [];
                }

                this.filtered = this.filtered.filter((x: any) => {
                    return x.isFake !== true;
                });

                this.filtered.push(searchItem as any);
            }
        }
        private addDialogFakeUser(): void {
            if (this.$props.fakeUser && this.dialogUserSearch) {
                const searchItem = {
                    avatar: '',
                    email: '',
                    firstName: this.dialogUserSearch,
                    lastName: '',
                    organizationCode: '',
                    phone: '',
                    staffCode: '',
                    staffName: this.dialogUserSearch,
                    userId: '',
                    isFake: true
                };
                if (!this.dialogUsers) {
                    this.dialogUsers = [];
                }

                this.dialogUsers = this.dialogUsers.filter((x: any) => {
                    return x.isFake !== true;
                });

                this.dialogUsers.push(searchItem as any);
            }
        }

        private fetchEntries(val: string) {
            clearTimeout(this._searchTimerId);
            this._searchTimerId = setTimeout(() => {
                this.getFilteredStaff(val);
            }, 500);
        }
        private async getFilteredStaff(val: string): Promise<void> {
            if (val && val != "") {
                this.queryKeyword = val;
                this.isLoading = true;
                const response = await Injector.UserService.getUsers(
                    this.$props.pageSize,
                    this.pageNumber,
                    false,
                    this.queryKeyword
                );
                this.isLoading = false;

                if (response.results.length > 0) {
                    this.users = response.results;
                    this.filtered = this.users.map((x) => ({ ...x }));
                    this.addFakeUser();
                    if (this.filtered.length == 1) {
                        this.selectedValue = Object.assign({}, this.filtered[0]);
                        this.search = "";
                        this.handleInput();
                    }
                }
            }
        }
    }
</script>
<style>
    .peoplePicker {
        min-height: 600px;
        max-height: calc(100vh - 100px);
    }

    .peoplePickerItem {
        padding: 0px;
    }
</style>
