<template>
    <v-container fluid>
        <v-card flat>
            <v-card-title>
                <v-row dense>
                    <v-col cols="12">
                        <v-btn color="primary"
                               :to="{ name: 'app.clienttracking.add' }"
                               outlined tile
                               class="mr-2 mt-2 text-capitalize">
                            <v-icon left small>fas fa-plus-circle</v-icon>

                            New Tracking Item
                        </v-btn>
                        <v-btn @click="unArchiveSelectedDocuments"
                               class="mt-2 text-capitalize"
                               color="primary"
                               title="Unarchive"
                               outlined tile>
                            <v-icon class="mr-2">mdi-briefcase-upload</v-icon>Unarchive
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-card-text>
                <v-text-field v-model="search"
                              placeholder="Please type keyword to search"
                              label="Search">
                </v-text-field>

                <v-data-table :headers="headers"
                              v-model="selected"
                              :items="clientTrackingItems"
                              :server-items-length="pagination.totalItems"
                              :items-per-page="pagination.rowsPerPage"
                              :loading="loading"
                              :class="[{'ios-table': $browserDetect.isChrome || $browserDetect.isIOS},'elevation-1', 'datatable']"
                              no-data-text="No tracking item found"
                              no-results-text="No tracking item found"
                              :page="pagination.page"
                              :sort-by="pagination.sortBy"
                              :sort-desc="pagination.descending"
                              :must-sort="true"
                              :single-expand="true"
                              show-select
                              show-expand
                              @update:options="updatePagination"
                              :footer-props="{ 'items-per-page-options': rowPerPageItems }">
                    <template v-slot:top>
                        <div class="pa-2">

                        </div>
                    </template>

                    <template v-slot:expanded-item="{ headers, item }">
                        <td :colspan="headers.length">
                            <v-row dense>
                                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    First Preparer initials:
                                    <span class="subtitle-2">{{ item.prepInitials }}</span>
                                </v-col>
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Second Preparer initials:
                                    <span class="subtitle-2">{{ item.prepInitials2 }}</span>
                                </v-col>
                                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    First Reviewer initials:
                                    <span class="subtitle-2">{{ item.revInitials }}</span>
                                </v-col>
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Second Reviewer initials:
                                    <span class="subtitle-2">{{ item.revInitials2 }}</span>
                                </v-col>
                                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    Partner initials:
                                    <span class="subtitle-2">{{ item.partnerInitials }}</span>
                                </v-col>
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Signer initials:
                                    <span class="subtitle-2">{{ item.signerInitials }}</span>
                                </v-col>
                                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    Status Comments:
                                    <span class="subtitle-2">{{ item.statusCommentsValue }}</span>
                                </v-col>
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Year End:
                                    <span class="subtitle-2">
                                        {{ formatDateValue(item.yearEnd) }}
                                    </span>
                                </v-col>
                                 <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    Due Date:
                                     <span class="subtitle-2">
                                         {{ formatDateValue(item.computedDueDate) }}
                                     </span>
                                </v-col>
                                
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Extended Due Date:
                                    <span class="subtitle-2">
                                        {{ formatDateValue(item.computedExtendedDate) }}
                                    </span>
                                </v-col>
                                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                                    Filing Status:
                                    <span class="subtitle-2">{{ item.status }}</span>
                                </v-col>
                                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                                    Client Expected Deadline:
                                    <span class="subtitle-2">
                                        {{ formatDateValue(item.clientExpectedDeadline)}}
                                    </span>
                                </v-col>
                            </v-row>
                        </td>
                    </template>

                    <template v-slot:item.yearEnd="{ item }">
                        <span> {{ formatDateValue(item.yearEnd) }} </span>
                    </template>
                    <template v-slot:item.dueDate="{ item }">
                        <span> {{ formatDateValue(item.dueDate) }} </span>
                    </template>
                    <template v-slot:item.extendedDate="{ item }">
                        <span> {{ formatDateValue(item.extendedDate) }} </span>
                    </template>
                      <template v-slot:item.computedDueDate="{ item }">
                        <span>
                            {{ formatDateValue(item.computedDueDate) }}
                        </span>
                    </template>
                 
                     <template v-slot:item.computedExtendedDate="{ item }">
                         <span>
                             {{ formatDateValue(item.computedExtendedDate) }}
                         </span>
                    </template>
                    <template v-slot:item.clientExpectedDeadline="{ item }">
                        <span> {{ formatDateValue(item.clientExpectedDeadline) }} </span>
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <div class="layout justify-center">
                            <v-tooltip top>
                                <template v-slot:activator="{ on }">
                                    <v-btn :to="{
                      name: 'app.clienttracking.view',
                      params: { id: item.id },
                    }"
                                           class="mr-2"
                                           color="primary"
                                           icon
                                           v-on="on">
                                        <v-icon>mdi-eye</v-icon>
                                    </v-btn>
                                </template>
                                <span>View Document</span>
                            </v-tooltip>
                        </div>
                    </template>
                </v-data-table>
            </v-card-text>
        </v-card>
        <app-dialog :options="info"> </app-dialog>
        <app-dialog :options="confirm"> </app-dialog>
        <app-dialog :options="unArchiveDialog"> </app-dialog>
    </v-container>
</template>

<style>
    .headerclass {
        background: red !important;
    }

    .v-input__slot {
        align-items: center;
        justify-content: center;
    }
</style>

<script lang="ts">
    import { mapGetters } from "vuex";
    import { Component, Vue, Watch } from "vue-property-decorator";
    import { ClientTrackingItem, Roles } from "../../models/client.tracking.item";
    import { PaginationModel } from "../../models/pagedlistmodel";
    import { Injector } from "../../services/injector";
    import { Notification } from "../../helper/notification";
    import { DialogOption } from "../../models/dialog";
    import moment from "moment";
    import { Base } from "../../components/common/Base";

    @Component({
        components: {
            AppDialog: (resolve) =>
                require(["../../components/common/app.dialog.vue"], resolve),
        },
        computed: {
            ...mapGetters({ office: "getOffice" }),
        },
    })
    export default class ClientTrackingArchivedListComponent extends Base {
        private isAuthorized: boolean = false;
        public mounted() {
            if (
                this.roles.indexOf(Roles.Administrator) > 1 ||
                this.roles.indexOf(Roles.OfficeAdmin) > 1
            ) {
                this.isAuthorized = true;
            }
            this.$watch("office", (newVal, oldVal) => {
                this.getTrackingItems();
            });

            this.$watch("search", (newVal, oldVal) => {
                this.fetchEntries(newVal);
            });
        }
        public notify(status: boolean, message: string) {
            Notification.show(status, message);
        }

        public info: DialogOption = {
            show: false,
            title: "Title",
        };

        public confirm: DialogOption = {
            show: false,
            title: "Unarchive",
            action: { text: "Confirm" },
            onAction: () => {
                // console.log("confirm ok clicked");
                this.confirm.show = false;
                this.unArchive();
            },
        };

        public unArchiveDialog: DialogOption = {
            show: false,
            title: "Unarchive",
            action: { text: "Yes" },
            close: { text: "No" },
            contentClass: "py-4",
            onAction: () => {
                this.unArchiveDialog.show = false;
            },
        };

        private search: string = "";
        private selected: ClientTrackingItem[] = [];
        private _searchTimerId: number = 1000;
        private pagination: PaginationModel = new PaginationModel("client");
        private clientTrackingItems: ClientTrackingItem[] = [];
        private loading: boolean = false;
        private office: string | null;
        private isPaginationChange: boolean = false;
        private rowPerPageItems: number[] = [5, 10, 15, 25, 100];
        private headers: any[] = [
            { text: "Actions", value: "actions", sortable: false, align: "center" },
            { text: "PwC Office", value: "pwCOffice", sortable: true, width: "150px" },
            { text: "Client", value: "client", sortable: true, width: "200px" },
            { text: "Year End", value: "yearEnd", sortable: true, width: "120px" },
            { text: "Due Date", value: "computedDueDate", sortable: true, width: "120px" },
            { text: "Ext Date", value: "computedExtendedDate", sortable: true, width: "120px" },
            { text: "First Preparer", value: "prepInitials", sortable: true, width: "150px" },
            { text: "Second Preparer", value: "prepInitials2", sortable: true, width: "160px" },
            { text: "First Reviewer", value: "revInitials", sortable: true, width: "150px" },
            { text: "Second Reviewer", value: "revInitials2", sortable: true, width: "170px" },
            { text: "Partner", value: "partnerInitials", sortable: true, width: "100px" },
            { text: "Signer", value: "signerInitials", sortable: true, width: "100px" },
            { text: "Jurisdiction", value: "jurisdictionValue", sortable: true, width: "140px" },
            {
                text: "Form number",
                value: "formNumberText",
                sortable: true,
                width: "150px",
            },
            { text: "Filing Status", value: "status", sortable: true, width: "150px" },
        ];

        private created(): void {
            this.getTrackingItems();
        }

        private async getTrackingItems(): Promise<void> {
            try {
                this.loading = true;
                const response = await Injector.ClientTrackingService.getAllArchived(
                    this.pagination,
                    null
                );
                this.clientTrackingItems = response.items;
                this.pagination.totalItems = response.totalCount;
            } finally {
                this.loading = false;
                this.floatingScroll();
            }
        }
        public updatePagination(paging: any): void {
            if (this.isPaginationChange) {
                if (paging) {
                    this.pagination.rowsPerPage = paging.itemsPerPage;
                    this.pagination.page = paging.page;
                    this.pagination.sortBy =
                        paging.sortBy && paging.sortBy.length ? paging.sortBy[0] : "";
                    this.pagination.descending = paging.sortDesc.length
                        ? paging.sortDesc[0]
                        : paging.sortDesc;
                    this.getTrackingItems();
                }
            }
            this.isPaginationChange = true;
        }

        public fetchEntries(val: string): void {
            clearTimeout(this._searchTimerId);
            this._searchTimerId = setTimeout(() => {
                this.pagination.search = val;
                this.pagination.page = 1;
                this.getTrackingItems();
            }, 500); /* 500 ms throttle */
        }

        public formatDateValue(value: string): string {
            if (value) {
                if (value.indexOf("T") !== -1) {
                    value = value.substring(0,value.indexOf("T"));
                }
                return moment(value).format("MMM DD, YYYY");
            } else {
                return "";
            }
        }

        public unArchiveSelectedDocuments(): void {
            if (this.selected.length == 0) {
                this.info.show = true;
                this.info.title = "Unarchive";
                this.info.content = "Please select a document to Unarchive";
                return;
            }

            this.unArchiveDialog.show = true;
            this.unArchiveDialog.title = "Unarchive";
            this.unArchiveDialog.content =
                "Do you want to Unarchive " + this.selected.length + " document(s) ?";
            this.unArchiveDialog.onAction = () => {
                this.unArchiveDialog.show = false;
                this.unArchive();
            };
        }

        public async unArchive(): Promise<void> {
            try {
                const selectedIds = this.selected.map((x) => x.id);
                this.loading = true;
                await Injector.ClientTrackingService.unArchiveSelected(selectedIds);
                this.notify(true, "Selected documents unarchived successfully");
                this.pagination.page = 1;
                await this.getTrackingItems();
                this.selected = [];
            } finally {
                this.loading = false;
            }
        }
        public floatingScroll(): void {
           if (!this.$vuetify.breakpoint.xsOnly) {
                setTimeout(() => {
                    window['jQuery']('.datatable .v-data-table__wrapper').floatingScrollbar();
                }, 0);
            }
        }
    }
</script>
