<template>
  <v-container fluid>
    <v-card flat>
      <v-card-title>
        <v-row dense>
            <v-col cols="12">
                <v-btn tile
                       color="primary"
                       outlined
                       :to="{ name: 'app.clienttracking.add' }"
                       class="mr-2 mt-2 text-capitalize"
                       v-if="isAuthorized">
                    <v-icon left small>fas fa-plus-circle</v-icon>

                    New Tracking Item
                </v-btn>
                <v-btn tile
                       @click="archiveSelectedDocuments"
                       class="mr-2 mt-2 text-capitalize"
                       color="primary"
                       title="Archive"
                       v-if="isAuthorized"
                       outlined>
                    <v-icon class="mr-2">mdi-briefcase-download</v-icon>Archive
                </v-btn>

                <v-btn tile
                       @click="bulkUpdateDocuments"
                       class="mr-2 mt-2 text-capitalize"
                       color="primary"
                       title="Bulk Update"
                       v-if="office && isAuthorized"
                       outlined>
                    <v-icon class="mr-2">mdi-checkbox-multiple-blank</v-icon>Bulk
                    Update
                </v-btn>

                <v-btn tile
                       color="primary"
                       v-if="isAuthorized"
                       class="mr-2 mt-2 text-capitalize"
                       title="Year End Roll Over"
                       @click="rollYearEnd"
                       outlined>
                    <v-icon small left>mdi-file-document</v-icon>Year End Roll Over
                </v-btn>

                <v-menu bottom left offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn tile
                               v-on="on"
                               class="mr-2 mt-2 text-capitalize"
                               color="primary"
                               outlined
                               :loading="exportLoading">
                            <v-icon small left>mdi-export-variant</v-icon>Export
                            <v-icon small right>fas fa-caret-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item link class="export-item" @click="exportSelectedDocuments">
                            <v-list-item-title class="primary--text">
                                <v-icon small left color="primary">mdi-check-all</v-icon>
                                Selected Document(s)
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item link class="export-item" @click="exportAllDocuments">
                            <v-list-item-title class="primary--text">
                                <v-icon small left color="primary">mdi-playlist-check</v-icon>
                                All Document(s)
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-text-field
          v-model="search"
          label="Search"
          placeholder="Please type keyword to search"
        >
        </v-text-field>

        <v-data-table
          :headers="headers"
          v-model="selected"
          :items="clientTrackingItems"
          :server-items-length="pagination.totalItems"
          :items-per-page="pagination.rowsPerPage"
          :loading="loading"
          :class="[{'iphone-table': $browserDetect.isSafari || $browserDetect.isIOS},'elevation-1', 'datatable']"
          no-data-text="No tracking item found"
          no-results-text="No tracking item found"
          :page="pagination.page"
          :sort-by="pagination.sortBy"
          :sort-desc="pagination.descending"
          :must-sort="true"
          :single-expand="true"
          show-select
          show-expand
          @update:options="updatePagination"
          :footer-props="{ 'items-per-page-options': rowPerPageItems }"
        >
          <template v-slot:expanded-item="{ headers, item }">
            <td :colspan="headers.length">
              <v-row v-if="allFields" dense>
                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Client Phone:

                  <span class="subtitle-2">{{ item.clientPhone }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Client Email:

                  <span class="subtitle-2">{{ item.clientEmail }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Industry:

                  <span class="subtitle-2">{{ item.industriesText }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  First Preparer initials:

                  <span class="subtitle-2">{{ item.prepInitials }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Second Preparer initials:

                  <span class="subtitle-2">{{ item.prepInitials2 }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  First Reviewer initials:

                  <span class="subtitle-2">{{ item.revInitials }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Second Reviewer initials:

                  <span class="subtitle-2">{{ item.revInitials2 }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Partner initials:

                  <span class="subtitle-2">{{ item.partnerInitials }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Signer initials:

                  <span class="subtitle-2">{{ item.signerInitials }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  EntityType:

                  <span class="subtitle-2">{{ item.entityTypeValue }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Engagement Center:

                  <span class="subtitle-2">{{ item.engCenter }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Jurisdiction:

                  <span class="subtitle-2">{{ item.jurisdictionValue }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Form number:

                  <span class="subtitle-2">{{ item.formNumberText }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Preparation software:

                  <span class="subtitle-2">
                    {{ item.preprationSoftwareValue }}
                  </span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Status Comments:

                  <span class="subtitle-2">{{ item.statusCommentsValue }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Year End:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.yearEnd) }}
                  </span>
                </v-col>
                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Due Date:

                    <span class="subtitle-2">
                        {{ formatDateValue(item.computedDueDate) }}
                    </span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Extended Due Date:

                    <span class="subtitle-2">
                        {{ formatDateValue(item.computedExtendedDate) }}
                    </span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Filing Status:

                  <span class="subtitle-2">{{ item.status }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  General Comments:

                  <span class="subtitle-2">{{ item.attachmentText }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Engagement Letter Status:

                  <span class="subtitle-2">
                    {{ item.engagementLetterStatus }}
                  </span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Engagement Letter Send Date:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.dateSent) }}
                  </span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Engagement Letter Received Date:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.dateReceived) }}
                  </span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  AFS Required:

                  <span class="subtitle-2">{{ item.afsRequired }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  AFS Requested:

                  <span class="subtitle-2">{{ item.afsRequested }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  AFS Approved:

                  <span class="subtitle-2">{{ item.afsApproved }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Information Request:

                  <span class="subtitle-2">
                    {{ item.informationRequestStatus }}
                  </span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Total Estimated Hours:

                  <span class="subtitle-2">{{ item.totalEstHours }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Client Expected Deadline:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.clientExpectedDeadline) }}
                  </span>
                </v-col>
              </v-row>

              <v-row v-else dense>
                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  First Preparer initials:

                  <span class="subtitle-2">{{ item.prepInitials }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Second Preparer initials:

                  <span class="subtitle-2">{{ item.prepInitials2 }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  First Reviewer initials:

                  <span class="subtitle-2">{{ item.revInitials }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Second Reviewer initials:

                  <span class="subtitle-2">{{ item.revInitials2 }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Partner initials:

                  <span class="subtitle-2">{{ item.partnerInitials }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Signer initials:

                  <span class="subtitle-2">{{ item.signerInitials }}</span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Status Comments:

                  <span class="subtitle-2">{{ item.statusCommentsValue }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Year End:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.yearEnd) }}
                  </span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Due Date:

                    <span class="subtitle-2">
                        {{ formatDateValue(item.computedDueDate)}}
                    </span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Extended Due Date:

                    <span class="subtitle-2">
                        {{ formatDateValue(item.computedExtendedDate) }}
                    </span>
                </v-col>

                <v-col cols="12" sm="2" md="2" lg="2" xl="2">
                  Filing Status:

                  <span class="subtitle-2">{{ item.status }}</span>
                </v-col>

                <v-col cols="12" sm="10" md="10" lg="10" xl="10">
                  Client Expected Deadline:

                  <span class="subtitle-2">
                    {{ formatDateValue(item.clientExpectedDeadline) }}
                  </span>
                </v-col>
              </v-row>
            </td>
          </template>

          <template v-slot:item.yearEnd="{ item }">
            <span> {{ formatDateValue(item.yearEnd) }} </span>
          </template>
          <template v-slot:item.dueDate="{ item }">
            <span>
              {{ formatDateValue(item.dueDate) }}
            </span>
          </template>

          <template v-slot:item.computedDueDate="{ item }">
              <span>
                  {{ formatDateValue(item.computedDueDate) }}
              </span>
          </template>
          <template v-slot:item.extendedDate="{ item }">
            <span>
              {{ formatDateValue(item.extendedDate) }}
            </span>
          </template>
          <template v-slot:item.computedExtendedDate="{ item }">
            <span>
              {{ formatDateValue(item.computedExtendedDate) }}
            </span>
          </template>
          <template v-slot:item.clientExpectedDeadline="{ item }">
            <span> {{ formatDateValue(item.clientExpectedDeadline) }} </span>
          </template>
          <template v-slot:item.dateSent="{ item }">
            <span> {{ formatDateValue(item.dateSent) }} </span>
          </template>
          <template v-slot:item.dateReceived="{ item }">
            <span> {{ formatDateValue(item.dateReceived) }} </span>
          </template>
          <template v-slot:item.pwCContactInfo="{ item }">
              <span> {{ item.pwCContactInfo ? item.pwCContactInfo.staffName: ''}} </span>
          </template>
          <template v-slot:item.actions="{ item }">
            <div class="layout justify-center">
                <v-speed-dial :model="fab"
                              :top="false"
                              :bottom="false"
                              :right="false"
                              :left="false"
                              :direction="$vuetify.breakpoint.xsOnly ? 'bottom' : 'right'"
                              :open-on-hover="true"
                              transition="slide-x-transition"
                              :class="{ 'sm-action': $vuetify.breakpoint.xsOnly }">
                    <template v-slot:activator>
                        <v-btn small
                               v-model="fab"
                               color="primary"
                               dark
                               fab
                               title="View Actions"
                               class="elevation-2">
                            <v-icon small>fa-ellipsis-v</v-icon>
                        </v-btn>
                    </template>

                    <v-tooltip top v-if="isAuthorized">
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{
                        name: 'app.clienttracking.edit',

                        params: { id: item.id },
                      }"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-pencil</v-icon>
                            </v-btn>
                        </template>
                        <span>Edit Document</span>
                    </v-tooltip>

                    <v-tooltip top v-if="isAdmin">
                        <template v-slot:activator="{ on }">
                            <v-btn color="primary"
                                   icon
                                   small
                                   @click="onDeleteDocument(item)"
                                   fab
                                   v-on="on">
                                <v-icon>mdi-delete</v-icon>
                            </v-btn>
                        </template>
                        <span>Delete Document</span>
                    </v-tooltip>

                    <v-tooltip top>
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{
                        name: 'app.clienttracking.view',

                        params: { id: item.id },
                      }"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-eye</v-icon>
                            </v-btn>
                        </template>
                        <span>View Document</span>
                    </v-tooltip>

                    <v-tooltip top v-if="isAuthorized">
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{
                        name: 'app.clienttracking.copy',

                        params: { id: item.id },
                      }"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-content-copy</v-icon>
                            </v-btn>
                        </template>
                        <span>Copy Document</span>
                    </v-tooltip>

                    <v-tooltip top v-if="isAuthorized">
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{
                        name: 'app.clienttracking.additionalreturn',

                        params: { id: item.id },
                      }"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-plus-box</v-icon>
                            </v-btn>
                        </template>
                        <span>Add Additional Returns</span>
                    </v-tooltip>

                    <v-tooltip top v-if="isAuthorized && item.headClient">
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{name: 'app.clienttracking.childs',params: { headClientId: item.id }}"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-sitemap</v-icon>
                            </v-btn>
                        </template>
                        <span>Child Tracking Items</span>
                    </v-tooltip>

                    <v-tooltip top v-if="isAuthorized && item.headClient">
                        <template v-slot:activator="{ on }">
                            <v-btn :to="{name: 'app.clienttracking.child.add',params: { id: item.id }}"
                                   color="primary"
                                   icon
                                   small
                                   fab
                                   v-on="on">
                                <v-icon>mdi-database-plus</v-icon>
                            </v-btn>
                        </template>
                        <span>Add Child Tracking Item</span>
                    </v-tooltip>
                </v-speed-dial>
            </div>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <app-dialog :options="info"> </app-dialog>
    <app-dialog :options="confirm"> </app-dialog>
    <app-dialog :options="yearEndRollOverDialog"> </app-dialog>
    <app-dialog :options="archiveDialog"> </app-dialog>
    <app-dialog :options="confirmBulkUpdateDialog"> </app-dialog>
    <app-dialog :options="exportDialog"> </app-dialog>
    <app-dialog :options="bulkUpdateDialog">
      <template v-slot:content>
        <bulk-update
          :model="bulkUpdateModel"
          :office="office"
          :modelChange="bulkUpdateDialog.show"
          @bulkFormRef="onBulkFormRef"
        >
        </bulk-update>
      </template>
    </app-dialog>
    <app-dialog :options="overrideDialog">
      <template v-slot:content>
        <div class="mb-6">
          To override <b>Due Date</b> enter date in field below and click

          <b>"Override"</b>. <br />
          To remove override click <b>"Remove Override"</b> and the date will
          re-calculate. <br />
          To exit without any changes click <b>"Cancel"</b>.
        </div>

        <v-menu
          v-model="dueDateMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dueDateModel.dueDateLateDisp"
              label="Due Date"
              append-icon="event"
              readonly
              outlined
              dense
              class="override-duedate"
              v-on="on"
            >
            </v-text-field>
          </template>
          <v-date-picker
            v-model="dueDateModel.dueDateLate"
            @input="dueDateMenu = false"
            @change="
              dueDateModel.dueDateLateDisp = formatDate(
                dueDateModel.dueDateLate
              )
            "
          >
          </v-date-picker>
        </v-menu>
      </template>
      <template v-slot:action>
        <v-btn
          tile
          class="ma-2 text-capitalize"
          color="primary"
          @click="updateDueDateOverride()"
          outlined
        >
          <v-icon left small>mdi-calendar-plus</v-icon>Override
        </v-btn>

        <v-btn
          tile
          class="ma-2 text-capitalize"
          color="primary"
          @click="updateDueDateOverride(true)"
          outlined
        >
          <v-icon left small>mdi-calendar-remove</v-icon>Remove Override
        </v-btn>
      </template>
    </app-dialog>
    <app-dialog :options="extendedOverrideDialog">
      <template v-slot:content>
        <div class="mb-6">
          To override <b>Extended Due Date</b> enter date in field below and
          click <b>"Override"</b>. <br />
          To remove override click <b>"Remove Override"</b> and the date will
          re-calculate. <br />
          To exit without any changes click <b>"Cancel"</b>.
        </div>

        <v-menu
          v-model="dueDateExtendedMenu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dueDateExtendedModel.extDateLateDisp"
              label="Extended Due Date"
              append-icon="event"
              readonly
              outlined
              dense
              class="override-extendeduedate"
              v-on="on"
            >
            </v-text-field>
          </template>
          <v-date-picker
            v-model="dueDateExtendedModel.extDateLate"
            @input="dueDateExtendedMenu = false"
            @change="
              dueDateExtendedModel.extDateLateDisp = formatDate(
                dueDateExtendedModel.extDateLate
              )
            "
          >
          </v-date-picker>
        </v-menu>
      </template>
      <template v-slot:action>
        <v-btn
          tile
          class="ma-2 text-capitalize"
          color="primary"
          @click="updateDueDateExtensionOverride()"
          outlined
        >
          <v-icon left small>mdi-calendar-plus</v-icon>Override
        </v-btn>

        <v-btn
          tile
          class="ma-2 text-capitalize"
          color="primary"
          @click="updateDueDateExtensionOverride(true)"
          outlined
        >
          <v-icon left small>mdi-calendar-remove</v-icon>Remove Override
        </v-btn>
      </template>
    </app-dialog>
  </v-container>
</template>

<style>
.headerclass {
  background: red !important;
}

.v-input__slot {
  align-items: center;
  justify-content: center;
}
</style>

<script lang="ts">
import { mapGetters } from "vuex";
import { Base } from "../../components/common/Base";
import { Component } from "vue-property-decorator";
import {
  ClientTrackingItem,
  DateFormat,
  DueDateExtensionOverride,
  DueDateOverride,
  Roles,
  PageListMode
} from "../../models/client.tracking.item";
import { PaginationModel } from "../../models/pagedlistmodel";
import { Injector } from "../../services/injector";
import { DialogOption } from "../../models/dialog";
import { BulkUpdateForm } from "../../models/bulkupdate";
import { Utils } from "../../helper/utils";
import moment from "moment";
@Component({
  components: {
    AppDialog: (resolve) =>
      require(["../../components/common/app.dialog.vue"], resolve),
    BulkUpdate: (resolve) =>
      require(["../../components/bulkupdate.vue"], resolve),
  },
  computed: {
    ...mapGetters({ office: "getOffice" }),
  },
})
export default class ClientTrackingListComponent extends Base {
  private bulkForm: any;
  private isAdmin: boolean = false;
  private isAuthorized: boolean = false;
  private pageMode: PageListMode = PageListMode.ClientDeadLine;
  public mounted() {
    if (
      this.roles.indexOf(Roles.Administrator) > -1 ||
      this.roles.indexOf(Roles.OfficeAdmin) > -1
    ) {
      this.isAuthorized = true;
    }
    if (this.roles.indexOf(Roles.Administrator) > -1) {
      this.isAdmin = true;
    }

    this.$watch("office", (newVal, oldVal) => {
      this.pagination.page = 1;
      this.selected = [];
      this.getTrackingItems();
    });

    this.$watch("search", (newVal, oldVal) => {
      this.fetchEntries(newVal);
    });
  }

  public fab: boolean = false;
  public info: DialogOption = {
    show: false,
    title: "Title",
    contentClass: "py-4",
    onClose: () => {
      this.info.show = false;
      this.info.close = {
        text: "Close",
        icon: "fas fa-times",
        color: "secondary",
      };
    },
  };
  public confirm: DialogOption = {
    show: false,
    title: "Archive",
    action: { text: "Confirm" },
    contentClass: "py-4",
    onAction: () => {
      this.confirm.show = false;
    },
  };

  public exportDialog: DialogOption = {
    show: false,
    title: "Export",
    action: { text: "Ok" },
    close: { text: "Cancel" },
    contentClass: "py-4",
    onAction: () => {
      this.exportDialog.show = false;
    },
  };
  public archiveDialog: DialogOption = {
    show: false,
    title: "Archive",
    action: { text: "Yes" },
    close: { text: "No" },
    contentClass: "py-4",
    onAction: () => {
      this.archiveDialog.show = false;
    },
  };

  public yearEndRollOverDialog: DialogOption = {
    show: false,
    title: "Year End Roll Over",
    action: { text: "Ok" },
    close: { text: "Cancel" },
    contentClass: "py-4",
    onAction: () => {
      this.yearEndRollOverDialog.show = false;
    },
  };
  public bulkUpdateDialog: DialogOption = {
    show: false,
    width: 800,
    title: "Bulk Update Form",
    contentClass: "pt-3",
    action: { icon: "done", text: "Save & Close" },
    onAction: () => {
      this.onBulkUpdate();
    },
  };
  public confirmBulkUpdateDialog: DialogOption = {
    show: false,
    title: "Bulk Update",
    action: { text: "Yes" },
    close: { text: "No" },
    contentClass: "py-4",
    onAction: () => {
      this.confirmBulkUpdateDialog.show = false;
    },
  };
  public overrideDialog: DialogOption = {
    show: false,
    width: 550,
    title: "Due Date Override",
    contentClass: "py-0 pt-5",
    close: { text: "Cancel" },
  };
  public extendedOverrideDialog: DialogOption = {
    show: false,
    width: 550,
    title: "Extended Due Date Override",
    contentClass: "py-0 pt-5",
    close: { text: "Cancel" },
  };
  public dueDateMenu: boolean = false;
  public dueDateExtendedMenu: boolean = false;
  public dueDateModel: DueDateOverride = new DueDateOverride();
  public dueDateExtendedModel: DueDateExtensionOverride = new DueDateExtensionOverride();
  public bulkUpdateModel: BulkUpdateForm = new BulkUpdateForm();
  private allFields: boolean = false;
  private search: string = "";
  private headClientId: string = "";
  private selected: ClientTrackingItem[] = [];
  private _searchTimerId: number = 1000;
  private pagination: PaginationModel = new PaginationModel("client");
  private clientTrackingItems: ClientTrackingItem[] = [];
  private loading: boolean = false;
  private exportLoading: boolean = false;
  private office: string | null;
  private headers: any[] = [];
  private isPaginationChange: boolean = false;
  private rowPerPageItems: number[] = [5, 10, 15, 25, 100];
  private clientDeadlineHeaders = [
    { text: "Actions", value: "actions", sortable: false, align: "center" },
    { text: "PwC Office", value: "pwCOffice", sortable: true, width: "150px" },
    { text: "Client", value: "client", sortable: true, width: "200px" },
    { text: "Year End", value: "yearEnd", sortable: true, width: "120px" },
    {
      text: "Due Date",
      value: "computedDueDate",
      sortable: true,
      width: "120px",
    },
    { text: "Ext Date", value: "computedExtendedDate", sortable: true, width: "120px" },
    {
      text: "First Preparer",
      value: "prepInitials",
      sortable: true,
      width: "150px",
    },
    {
      text: "Second Preparer",
      value: "prepInitials2",
      sortable: true,
      width: "160px",
    },
    {
      text: "First Reviewer",
      value: "revInitials",
      sortable: true,
      width: "150px",
    },
    {
      text: "Second Reviewer",
      value: "revInitials2",
      sortable: true,
      width: "170px",
    },
    {
      text: "Partner",
      value: "partnerInitials",
      sortable: true,
      width: "100px",
    },
    { text: "Signer", value: "signerInitials", sortable: true, width: "100px" },
    {
      text: "Jurisdiction",
      value: "jurisdictionValue",
      sortable: true,
      width: "140px",
    },
    {
      text: "Form number",
      value: "formNumberText",
      sortable: true,
      width: "150px",
    },
    { text: "Filing Status", value: "status", sortable: true, width: "150px" },
  ];
  private allDataHeaders = [
    { text: "Actions", value: "actions", sortable: false, align: "center" },
    { text: "PwC Office", value: "pwCOffice", sortable: true, width: "150px" },
    { text: "Client", value: "client", sortable: true, width: "200px" },
    {
      text: "PwC Contact",
      value: "pwCContactInfo",
      sortable: true,
      width: "150px",
    },
    { text: "Year End", value: "yearEnd", sortable: true, width: "120px" },
    {
      text: "Due Date",
      value: "computedDueDate",
      sortable: true,
      width: "120px",
    },
    {
      text: "Ext Date",
      value: "computedExtendedDate",
      sortable: true,
      width: "120px",
    },
    {
      text: "Jurisdiction",
      value: "jurisdictionValue",
      sortable: true,
      width: "140px",
    },
    {
      text: "Form number",
      value: "formNumberText",
      sortable: true,
      width: "150px",
    },
    {
      text: "First Preparer",
      value: "prepInitials",
      sortable: true,
      width: "150px",
    },
    {
      text: "Second Preparer",
      value: "prepInitials2",
      sortable: true,
      width: "160px",
    },
    {
      text: "First Reviewer",
      value: "revInitials",
      sortable: true,
      width: "150px",
    },
    {
      text: "Second Reviewer",
      value: "revInitials2",
      sortable: true,
      width: "170px",
    },
    {
      text: "Partner",
      value: "partnerInitials",
      sortable: true,
      width: "100px",
    },
    { text: "Signer", value: "signerInitials", sortable: true, width: "100px" },
    {
      text: "Industry",
      value: "industriesText",
      sortable: true,
      width: "120px",
    },
    { text: "Filing Status", value: "status", sortable: true, width: "150px" },
  ];

  private created(): void {
    const routeName = this.$route.name;
    if(routeName === "app.clienttracking.personal") {
      this.pageMode = PageListMode.Personal;
      this.headers = this.clientDeadlineHeaders;
    } else if (routeName === "app.clienttracking.childs") {
      this.pageMode = PageListMode.ClientTrackingChild
      this.headers = this.clientDeadlineHeaders;
      this.headClientId = this.$route.params.headClientId;
    } else if (routeName === "app.clienttracking.clientdeadline") {
      this.pageMode = PageListMode.ClientDeadLine;
      this.headers = this.clientDeadlineHeaders;
      this.allFields = false;
    } else {
      this.pageMode = PageListMode.AllData;
      this.headers = this.allDataHeaders;
      this.allFields = true;
    }
    this.getTrackingItems();
  }

  private async getTrackingItems(): Promise<void> {
    try {
      this.loading = true;
      const response = await Injector.ClientTrackingService.getAll(
       this.pagination,
       this.office || null,
       this.pageMode === PageListMode.Personal,
       this.pageMode === PageListMode.ClientTrackingChild ? this.headClientId : null
      );
      this.clientTrackingItems = response.items;
      this.pagination.totalItems = response.totalCount;
    } finally {
      this.loading = false;
    }
  }
  public updatePagination(paging: any): void {
    if (this.isPaginationChange) {
      if (paging) {
        this.pagination.rowsPerPage = paging.itemsPerPage;
        this.pagination.page = paging.page;
        this.pagination.sortBy =
          paging.sortBy && paging.sortBy.length ? paging.sortBy[0] : "";
        this.pagination.descending = paging.sortDesc.length
          ? paging.sortDesc[0]
          : paging.sortDesc;
        this.getTrackingItems();
      }
    }
    this.isPaginationChange = true;
  }

  public fetchEntries(val: string): void {
    clearTimeout(this._searchTimerId);
    this._searchTimerId = setTimeout(() => {
      this.pagination.page = 1;
      this.pagination.search = val;
      this.getTrackingItems();
    }, 500); /* 500 ms throttle */
  }

  public formatDate(
    dateString: string | null,
    format: DateFormat = DateFormat.YYYYMMDD,
    outFormat: DateFormat = DateFormat.MMMDDYYYY
  ): string {
    if (dateString) {
      let date = null as any;
      if (format === DateFormat.DDMMYYYY) {
        date = moment(dateString, "DD-MM-YYYY");
      }
      if (format === DateFormat.YYYYMMDD) {
        if (typeof dateString === "string") {
          date = moment(dateString);
        }
      }

      const momentDate = date;

      if (outFormat === DateFormat.MMMDDYYYY) {
        return momentDate.format("MMM DD, YYYY");
      }
      if (outFormat === DateFormat.MMDDYYYY) {
        return momentDate.format("MM/DD/YYYY");
      }
      if (outFormat === DateFormat.YYYYMMDD) {
        return momentDate.format("YYYY-MM-DD");
      }
    }
    return "";
  }

  public archiveSelectedDocuments(): void {
    if (this.selected.length == 0) {
      this.info.show = true;
      this.info.title = "Archive";
      this.info.content = "Please select a document to Archive";
      return;
    }
    this.archiveDialog.show = true;
    this.archiveDialog.title = "Archive";
    this.archiveDialog.content =
      "Do you want to Archive " + this.selected.length + " document(s) ?";
    this.archiveDialog.onAction = () => {
      this.archiveDialog.show = false;
      this.archive();
    };
  }

  public async archive(): Promise<void> {
    try {
      const selectedIds = this.selected.map((x) => x.id);
      this.loading = true;
      await Injector.ClientTrackingService.archiveSelected(selectedIds);
      this.notify(true, "Selected document(s) archived successfully");
      this.pagination.page = 1;
      await this.getTrackingItems();
      this.selected = [];
    } finally {
      this.loading = false;
    }
  }

  public bulkUpdateDocuments(): void {
    if (this.selected.length == 0) {
      this.info.show = true;
      this.info.title = "Bulk Update";
      this.info.content = "Please select a document to bulk update";
      return;
    }

    const selectedIds = this.selected.map((item: ClientTrackingItem) => {
      return item.id;
    });
    this.confirmBulkUpdateDialog.show = true;
    this.confirmBulkUpdateDialog.content =
      "Do you want to Bulk Update " + this.selected.length + " document(s) ?";
    this.confirmBulkUpdateDialog.onAction = () => {
      this.confirmBulkUpdateDialog.show = false;
      this.resetBulkUpdateForm();
      this.bulkUpdateDialog.show = true;
    };
  }

  public async rollYearEnd(): Promise<void> {
    if (this.selected.length == 0) {
      this.info.show = true;
      this.info.title = "Year End Roll Over";
      this.info.content = "Please select a document to roll over";
      return;
    }

    this.yearEndRollOverDialog.show = true;
    this.yearEndRollOverDialog.title = "Year End Roll Over";
    this.yearEndRollOverDialog.content =
      "You have selected " +
      this.selected.length.toString() +
      " document(s) to be rolled over, only those Status=Return - Filed (E-file Accepted or Paper Filed) will be actioned upon, otherwise no action will be taken on them";
    this.yearEndRollOverDialog.onAction = async () => {
      const selectedDocumentIds = this.selected.map(
        (item: ClientTrackingItem) => {
          return item.id;
        }
      );
      this.yearEndRollOverDialog.show = false;
      const response = await Injector.ClientTrackingService.rollOverDocuments(
        selectedDocumentIds
      );
      const title =
        response.documentsRolledOver +
        " document(s) successfully rolled over and archived.  " +
        response.documentsNotRolledOver +
        " document(s) not rolled over - status value is not Return - Filed (E-file Accepted or Paper Filed)";
      this.info.show = true;
      this.info.title = "Rollover Result";
      this.info.content = title;
      this.info.close = { text: "Ok", icon: "fas fa-check", color: "primary" };

      this.selected = [];

      this.pagination.page = 1;
      this.getTrackingItems();
    };
  }

  public resetBulkUpdateForm(): void {
    this.bulkUpdateModel = new BulkUpdateForm();
    if (this.bulkForm) {
      this.bulkForm.reset();
    }
  }
  public async onBulkUpdate(): Promise<void> {
    const isValid = await this.bulkForm.validate();
    if (isValid) {
      if (this.selected.length !== 0) {
        try {
          this.bulkUpdateModel.documentNumbers = this.selected.map(
            (item: ClientTrackingItem) => {
              return item.id;
            }
          );
          await Injector.ClientTrackingService.bulkUpdateDocuments(
            this.bulkUpdateModel
          );
          this.notify(true, "Document(s) updated successfully");
          this.bulkUpdateDialog.show = false;
          this.getTrackingItems();
        } catch (e) {
          this.notify(false, "Some error occur");
        } finally {
		  this.selected = [];
		}
      }
    } else {
      this.notify(false, "Please fill all the required fields");
    }
  }

  public onDueDateOverride(item: ClientTrackingItem): void {
    this.overrideDialog.show = true;
    this.dueDateModel = new DueDateOverride();
    this.dueDateModel.id = item.id;
    this.dueDateModel.dueDateOverriden = item.dueDateOverriden;
    this.dueDateModel.dueDate = item.dueDate;
    if (item.dueDateOverriden) {
      this.dueDateModel.dueDateLate = this.formatDate(
        item.dueDateLate,
        DateFormat.YYYYMMDD,
        DateFormat.YYYYMMDD
      );
      this.dueDateModel.dueDateLateDisp = this.formatDate(
        item.dueDateLate,
        DateFormat.YYYYMMDD
      );
    } else {
      this.dueDateModel.dueDateLate = this.formatDate(
        item.dueDate,
        DateFormat.YYYYMMDD,
        DateFormat.YYYYMMDD
      );
      this.dueDateModel.dueDateLateDisp = this.formatDate(
        item.dueDate,
        DateFormat.YYYYMMDD
      );
    }
  }
  public onExtensionDueDateOverride(item: ClientTrackingItem): void {
    this.extendedOverrideDialog.show = true;
    this.dueDateExtendedModel = new DueDateExtensionOverride();
    this.dueDateExtendedModel.id = item.id;
    this.dueDateExtendedModel.extendedDateOverriden =
      item.extendedDateOverriden;
    this.dueDateExtendedModel.extendedDate = item.extendedDate;
    if (item.extendedDateOverriden) {
      this.dueDateExtendedModel.extDateLate = this.formatDate(
        item.extDateLate,
        DateFormat.YYYYMMDD,
        DateFormat.YYYYMMDD
      );
      this.dueDateExtendedModel.extDateLateDisp = this.formatDate(
        item.extDateLate,
        DateFormat.YYYYMMDD
      );
    } else {
      this.dueDateExtendedModel.extDateLate = this.formatDate(
        item.extendedDate,
        DateFormat.YYYYMMDD,
        DateFormat.YYYYMMDD
      );
      this.dueDateExtendedModel.extDateLateDisp = this.formatDate(
        item.extendedDate,
        DateFormat.YYYYMMDD
      );
    }
  }
  public async dueDateOverride(): Promise<void> {
    try {
      await Injector.ClientTrackingService.updateDueDateOverride(
        this.dueDateModel
      );
      if (
        this.clientTrackingItems.filter((x) => x.id == this.dueDateModel.id)
          .length > 0
      ) {
        const itemToUpdate = this.clientTrackingItems.filter(
          (x) => x.id == this.dueDateModel.id
        )[0];
        itemToUpdate.dueDateOverriden = this.dueDateModel.dueDateOverriden;
        itemToUpdate.dueDateLate = this.dueDateModel.dueDateLate;
        itemToUpdate.dueDateLateDisp = this.dueDateModel.dueDateLateDisp;
      }
      this.notify(true, "Override Due Date successfully");
    } catch (e) {
      this.notify(false, "Some error occur");
    } finally {
      this.overrideDialog.show = false;
    }
  }
  public updateDueDateOverride(isremove: boolean = false): void {
    if (isremove) {
      this.dueDateModel.dueDateOverriden = false;
      this.dueDateModel.dueDateLate = this.dueDateModel.dueDate
        ? moment(
            this.dueDateModel.dueDate ? this.dueDateModel.dueDate : undefined
          )
            .subtract(1, "months")
            .format("YYYY-MM-DD")
        : null;
      this.dueDateModel.dueDateLateDisp = this.dueDateModel.dueDateLate
        ? moment(
            this.dueDateModel.dueDateLate
              ? this.dueDateModel.dueDateLate
              : undefined
          ).format("MMM DD, YYYY")
        : null;
    } else {
      this.dueDateModel.dueDateOverriden = true;
    }
    this.dueDateOverride();
  }
  public async dueDateExtensionOverride(): Promise<void> {
    try {
      await Injector.ClientTrackingService.updateDueDateExtensionOverride(
        this.dueDateExtendedModel
      );
      this.notify(true, "Override Extended Due Date successfully");

      if (
        this.clientTrackingItems.filter(
          (x) => x.id == this.dueDateExtendedModel.id
        ).length > 0
      ) {
        const itemToUpdate = this.clientTrackingItems.filter(
          (x) => x.id == this.dueDateExtendedModel.id
        )[0];
        itemToUpdate.extendedDateOverriden = this.dueDateExtendedModel.extendedDateOverriden;
        itemToUpdate.extDateLate = this.dueDateExtendedModel.extDateLate;
        itemToUpdate.extDateLateDisp = this.dueDateExtendedModel.extDateLateDisp;
      }
    } catch (e) {
      this.notify(false, "Some error occur");
    } finally {
      this.extendedOverrideDialog.show = false;
    }
  }
  public updateDueDateExtensionOverride(isremove: boolean = false): void {
    if (isremove) {
      this.dueDateExtendedModel.extendedDateOverriden = false;
      this.dueDateExtendedModel.extDateLate = this.dueDateExtendedModel
        .extDateLate
        ? moment(
            this.dueDateExtendedModel.extendedDate
              ? this.dueDateExtendedModel.extendedDate
              : undefined
          )
            .subtract(1, "months")
            .format("YYYY-MM-DD")
        : null;
      this.dueDateExtendedModel.extDateLateDisp = this.dueDateExtendedModel
        .extDateLate
        ? moment(
            this.dueDateExtendedModel.extDateLate
              ? this.dueDateExtendedModel.extDateLate
              : undefined
          ).format("MMM DD, YYYY")
        : null;
    } else {
      this.dueDateExtendedModel.extendedDateOverriden = true;
    }
    this.dueDateExtensionOverride();
  }

  public async exportSelectedDocuments(): Promise<void> {
    if (this.selected.length == 0) {
      this.info.show = true;
      this.info.title = "Export";
      this.info.content = "Please select document(s) to export";
      return;
    }

    const selectedIds = this.selected.map((item: ClientTrackingItem) => {
      return item.id;
    });
    this.exportDialog.show = true;
    this.exportDialog.title = "Export";
    this.exportDialog.content =
      "Do you want to Export " + this.selected.length + " document(s) ?";
    this.exportDialog.onAction = () => {
      this.exportDialog.show = false;
      this.exportDocuments(false, selectedIds);
      this.selected = [];
    };
    }
    public async exportAllDocuments(): Promise<void> {
        this.exportDialog.show = true;
        this.exportDialog.title = 'Export';
        this.exportDialog.content = 'Do you want to Export all document(s) ?';
        this.exportDialog.onAction = () => {
            this.exportDialog.show = false;
            this.exportDocuments(true);
        };
    }
    public async exportDocuments(isExportAll: boolean, selectedIds: string[] = []): Promise<void> {
        try {
            this.exportLoading = true;
            let result;
            if (isExportAll) {
                result = await Injector.ClientTrackingService.exportSelectedDocuements(
                    selectedIds,
                    this.allFields,
                    this.pagination ? this.pagination.sortBy : null,
                    this.pagination ? this.pagination.descending : null,
                    true,
                    this.office,
                    this.search,
                    this.pageMode === PageListMode.Personal,
                    this.pageMode === PageListMode.ClientTrackingChild ? this.headClientId : null
                );
            }
            else {
                result = await Injector.ClientTrackingService.exportSelectedDocuements(
                    selectedIds,
                    this.allFields,
                    this.pagination ? this.pagination.sortBy : null,
                    this.pagination ? this.pagination.descending : null,
                    false,
                    null,
                    null,
                    this.pageMode === PageListMode.Personal,
                    this.pageMode === PageListMode.ClientTrackingChild ? this.headClientId : null
                );
            }
          const bytes = Utils.base64ToArrayBuffer(result);
          if (this.$browserDetect.isIE) {
            Utils.DownloadCSVForIE(bytes, "trackingitems");
          } else {
            Utils.downloadBytes(bytes, ".csv", "trackingitems");
          }
        } finally {
            this.exportLoading = false;
        }
    }
  public onDeleteDocument(item: ClientTrackingItem): void {
    this.confirm.show = true;
    this.confirm.title = "Delete";
    this.confirm.content = "Do you want to Delete the selected document?";
    this.confirm.onAction = () => {
      this.confirm.show = false;
      this.deleteDocument(item);
    };
  }

  private async deleteDocument(item: ClientTrackingItem): Promise<void> {
    try {
      this.loading = true;
      await Injector.ClientTrackingService.deleteClientTrackingItem(item.id);
      this.notify(true, "Selected document deleted successfully");
      this.pagination.page = 1;
      await this.getTrackingItems();
    } finally {
      this.loading = false;
    }
  }
  public formatDateValue(value: string): string {
    if (value) {
      if (value.indexOf("T") !== -1) {
        value = value.substring(0, value.indexOf("T"));
      }
      return moment(value).format("MMM DD, YYYY");
    } else {
      return "";
    }
  }

  public onBulkFormRef(e: any): void {
    this.bulkForm = e;
  }
  public floatingScroll(): void {
            if (!this.$vuetify.breakpoint.xsOnly) {
                setTimeout(() => {
                    window['jQuery']('.datatable .v-data-table__wrapper').floatingScrollbar();
                }, 0);
            }
  }
}
</script>
