﻿<template>
    <v-dialog v-model="options.show" persistent :max-width="options.width ? options.width : 400">
        <v-card :class="options.bodyClass">
            <!-- SLOT: header-->
            <slot name="header" v-if="$slots.header"></slot>

            <!--Title-->
            <v-card-title v-if="options.title" class="headline">
                {{options.title}}
            </v-card-title>

            <v-divider v-if="options.title || $slots.header"></v-divider>

            <!-- SLOT: content-->
            <v-card-text v-if="$slots.content" :class="options.contentClass">
                <slot name="content"></slot>
            </v-card-text>
            <v-card-text v-else :class="options.contentClass">
                {{options.content}}
            </v-card-text>

            <v-divider></v-divider>
            <v-card-actions>
                <v-spacer></v-spacer>
                <div>
                    <slot name="action" v-if="$slots.action"></slot>
                    <v-btn :color="options.close ? (options.close.color || 'secondary') : 'secondary'" raised
                           @click="onClose()"
                           class="ml-2 text-capitalize"
                           outlined
                           tile>
                        <v-icon small dark left>{{options.close ? (options.close.icon || 'fas fa-times') : 'fas fa-times'}}</v-icon>{{options.close ? (options.close.text || 'Close') : 'Close'}}
                    </v-btn>
                    <v-btn :color="options.action.color || 'primary'" raised
                           @click="onAction()" v-if="options.action"
                           :disabled="options.action.disable"
                           class="ml-2 text-capitalize"
                           outlined
                           tile>
                        <v-icon small dark left>{{options.action.icon  || 'fas fa-check'}}</v-icon>{{options.action.text || 'Ok'}}
                    </v-btn>
                </div>
            </v-card-actions>
            <!-- SLOT: footer-->
            <slot name="footer" v-if="$slots.footer"></slot>
        </v-card>
    </v-dialog>
</template>
<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';
    import { DialogOption } from '../../models/dialog';

    @Component({
        props: ['options'],
    })
    export default class AppDialogComponent extends Vue {
        public options: DialogOption;
        public onClose(): void {
            if (this.options && this.options.show) {
                this.options.show = false;
                if (this.options.onClose && typeof(this.options.onClose) === 'function') {
                    this.options.onClose();
                }
            }
        }
        
        public onAction(): void {
            if (this.options && this.options.onAction) {
                if (this.options.onAction && typeof (this.options.onAction) === 'function') {
                    this.options.onAction();
                }
            }
        }
    }

</script>