﻿<template>
  <v-data-table
    :headers="headers"
    :items="items"
    :page="paginations ? paginations.page : null"
    :sort-by="paginations ? paginations.sortBy : null"
    :sort-desc="paginations ? paginations.descending : null"
    :items-per-page="paginations ? paginations.rowsPerPage : null"
    :loading="loading"
    class="elevation-1 datatable"
    no-data-text="No record found"
    :group-by="groupedField"
    :group-desc="groupDirection"
    :search="paginations ? paginations.search : undefined"
    :server-items-length="pagination.totalItems"
    @update:options="updatePagination"
    :must-sort="true"
  >
    <template v-slot:item.actions="{ item }">
      <v-icon class="mr-2" color="primary" title="edit" @click="edit(item)"
        >mdi-pencil</v-icon
      >
    </template>

    <template slot="footer" v-if="$slots.actions">
      <v-card flat>
        <v-card-text>
          <slot name="actions"></slot>
        </v-card-text>
      </v-card>
    </template>

    <template v-slot:group.header="{ group, headers, items }">
      <td :colspan="headers.length" v-show="group">
        <span style="font-weight:bold;">{{
          formatGroupHeader(group, headers, items)
        }}</span>
        <v-icon
          class="mx-1"
          color="primary"
          title="Remove grouping"
          @click="removeGrouping()"
          >mdi-close</v-icon
        >
      </td>
    </template>
    <!-- <template v-slot:item.dtReceived="{ item }">{{
      item.dtReceivedDisp
    }}</template> -->
  </v-data-table>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

import { GridHeader } from "../../models/custom.grid.header";
import { Utils } from "../../helper/utils";
import { PaginationModel } from "../../models/pagedlistmodel";

@Component({
  props: [
    "headers",
    "items",
    "pageSize",
    "groupedField",
    "loading",
    "searchData",
    "groupDirection",
    "actions",
    "pagination",
  ],
  computed: {
    paginations: {
      get() {     
        return this.$props.pagination;
      },
      set(val) {
        //  console.log('paginations');
        //   console.log(val);
        const pagination = this.$props.pagination;
        if (pagination) {
          let isChange = false;
         
          if (!Utils.isEquivalent(pagination, val)) {
            isChange = true;
           // this.isPaginationChange = true;
          }
          if (isChange) {
           // this.gridOptionChange(val);
          }
        }
      },
    },
  },
})
export default class CustomGridComponent extends Vue {
  public isPaginationChange: boolean = false;

  removeGrouping() {
    this.$emit("removingGrouping", ""); // remove grouping header
  }
  formatGroupHeader(group: string, headers: any, items: any) {
    return group ? group.toUpperCase() : ""; //
  }

  public onPageCount(totalPage: number) {
    //console.log("page count");
    //console.log(totalPage);
  }

  onPagination(pagination: any) {
    //  this.$emit("page-change", pagination);
  }
  updatePagination(paginationData: any) {
    if (this.isPaginationChange) {
      //console.log("update-pagination event");
      //console.log(paginationData);
         this.$emit("page-change", paginationData);
    }
    this.isPaginationChange = true;
 
  }

  public gridOptionChange(pagination: PaginationModel) {   
   this.$emit("page-change", pagination);
  }
}
</script>
