﻿<!--<template>
    <grid :sortable="options.sortable"
          :filterable="options.filterable"
          :groupable="options.groupable"
          :reorderable="options.reorderable"
          :pageable="{ buttonCount: 4, pageSizes: true }"
          :data-items="dataResult"
          :skip="options.skip"
          :take="options.take"
          :sort="options.sort"
          :group="options.group"
          :filter="options.filter"
          :scrollable="options.scrollable"
          :columns="columns"
          @datastatechange="dataStateChange"
          :expand-field="options.expanded ? 'expanded' : ''"
          @expandchange="expandChange"
          @columnreorder="columnReorder">
    </grid>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';
    import { Grid, GridToolbar } from '@progress/kendo-vue-grid';
    import { DropDownList } from '@progress/kendo-vue-dropdowns';
    import { IntlProvider, load, LocalizationProvider, loadMessages, IntlService } from '@progress/kendo-vue-intl';
    import { process } from '@progress/kendo-data-query';
    import { Column, Action, GridOption } from '../../models/grid';

    @Component({
        components: {
            grid: Grid,
            toolbar: GridToolbar,
            dropdownlist: DropDownList,
            intl: IntlProvider,
            localization: LocalizationProvider,
        },
        props: [
            'columns',
            'items',
            'options',
            'actions',
        ],
    })
    export default class KendoGridComponent extends Vue {
        public columns: Column[] = [];
        public options: GridOption = new GridOption();
        public items: any[];
        public actions: Action[] = [];

        public dataResult: any = [];
        public currentLocale: any = null;

        public mounted(): void {
            const actions_ = this.actions;
            const commandCell = Vue.component("template-component", {
                props: {
                    field: String,
                    dataItem: Object,
                    format: String,
                    className: String,
                    columnIndex: Number,
                    columnsCount: Number,
                    rowType: String,
                    level: Number,
                    expanded: Boolean,
                    editor: String,
                    hidden: Boolean,
                },
                components: {
                    'kendo-action': (resolve) => require(['./kendo.grid.action.vue'], resolve)
                },
                template: '<kendo-action v-if="renderCell()" :actions="actions" :dataItem="dataItem"></kendo-action>',
                data: function () {
                    return {
                        actions: actions_,
                    }
                },
                methods: {
                    renderCell: function () {
                        return this.field !== undefined && this.rowType !== 'groupHeader';
                    }
                }
            });

            if (this.actions) {
                this.columns.push({
                    cell: commandCell,
                    width: '180px',
                    title: 'Actions',
                    filterable: false,
                    groupable: false,
                    locked: true,
                });
            }

            if (this.columns && this.columns.length) {
                this.columns.forEach((column: Column) => {
                    if (column.template) {
                        column.cell = this.cellTemplate(column.template);
                    }
                })
            }

            const dataState = {
                skip: this.options.skip,
                take: this.options.take,
                sort: this.options.sort,
                group: this.options.group
            } as any;

            this.dataResult = process(this.items, dataState);
        }
        public dataStateChange(event: any) {
            this.createAppState(event.data);
            this.dataResult = process(this.items, {
                skip: this.options.skip,
                take: this.options.take,
                sort: this.options.sort as any,
                filter: this.options.filter,
                group: this.options.group as any
            });
        }

        public expandChange(event) {
            Vue.set(event.dataItem, event.target.$props.expandField, event.value);
        }

        public cellTemplate(template: Function): any {
            return Vue.component("template-component", {
                props: {
                    field: String,
                    dataItem: Object,
                    format: String,
                    className: String,
                    columnIndex: Number,
                    columnsCount: Number,
                    rowType: String,
                    level: Number,
                    expanded: Boolean,
                    editor: String,
                    hidden: Boolean,
                },
                template: `<td :class="className"
                                colspan="1"
                                v-if="renderCell()"
                                v-html="getTemplateValue(field, dataItem)"></td>`,
                methods: {
                    getTemplateValue: template,
                    renderCell: function () {
                        return this.field !== undefined && this.rowType !== 'groupHeader';
                    }
                },
            });
        }

        public pageChangeHandler(event: any) {
            this.options.skip = event.page.skip;
            this.options.take = event.page.take;
        }
        public columnReorder(options: any) {
            this.columns = options.columns;
        }
        public dropDownChange(e: any) {
            this.currentLocale = e.target.value;
        }
        public createAppState(dataState: any) {
            this.options.take = dataState.take;
            this.options.skip = dataState.skip;
            if (dataState.group) {
                dataState.group.map((group: any) => group.aggregates = this.aggregates);
            }
            this.options.group = dataState.group;
            this.options.filter = dataState.filter;
            this.options.sort = dataState.sort;
        }
    }
</script>-->