﻿<!--<template>
    <td>
        <template v-for="(action,index) in actions">
            <v-btn v-if="action.type=='link'" dark v-bind:key="index"
                   :to="action.action(dataItem)"
                   :disabled="action.disable?action.disable(dataItem):false"
                   :altitle="action.title"
                   icon>
                <v-icon :color="typeof(action.color) === 'function' ? action.color(dataItem) :(action.color||'primary')">{{action.icon}}</v-icon>
            </v-btn>
            <v-btn :disabled="action.disable?action.disable(dataItem):false" dark v-bind:key="index"
                   :href="action.action(dataItem)"
                   :altitle="action.title"
                   target="_blank"
                   icon
                   v-if="action.type=='anchor'">
                <v-icon :color="typeof(action.color) === 'function' ? action.color(dataItem) :(action.color||'primary')">{{action.icon}}</v-icon>
            </v-btn>
            <v-btn :disabled="action.disable?action.disable(dataItem):false" dark v-bind:key="index"
                   class="action-loader"
                   icon
                   v-if="action.type=='button'"
                   @click="action.action(dataItem, action)"
                   :altitle="action.title">
                <v-icon :color="typeof(action.color) === 'function' ? action.color(dataItem) :(action.color||'primary')">{{action.icon}}</v-icon>
            </v-btn>
            <v-btn :disabled="action.disable?action.disable(dataItem):false" v-bind:key="index"
                   v-if="action.type=='txtbutton'"
                   class="action-loader"
                   @click="action.action(dataItem, action)"
                   :altitle="action.title"
                   :color="typeof(action.color) === 'function' ? action.color(dataItem) :(action.color||'primary')">
                <v-icon>{{action.icon}}</v-icon>
                &nbsp; {{action.title}}
            </v-btn>
        </template>
    </td>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Action } from '../../models/grid';

    @Component({
        props: [
            'actions',
            'dataItem'
        ],
    })
    export default class KendoGridActionComponent extends Vue {
        public actions: Action[] = [];
    }
</script>-->