﻿<template>
    <v-snackbar v-model="option.isOpen">
        {{ option.text }}

        <template v-slot:action="{ attrs }">
            <v-btn text
                   tile
                   v-bind="attrs"
                   class="text-capitalize"
                   @click="option.isOpen = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
</template>
<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';
    import { Snackbar } from '../../models/AppEvent';

    @Component({})
    export default class SnackbarComponent extends Vue {
        private option: Snackbar = new Snackbar();
    }
</script>