<template>
    <router-view :key="$route.path"></router-view>
</template>

<script lang="ts">
    import { Component, Vue } from "vue-property-decorator";
    import { Base } from './components/common/Base';

    @Component({})
    export default class App extends Base {
    }
</script>
<style lang="scss">
    @import "toastr";
    @import "./assets/css/custom.css";
</style>