﻿<template>
    <v-app class="ITCCharterCom-font">
        <v-app-bar app :class="{ 'app-ano-xs': $vuetify.breakpoint.xsOnly }">
            <div id="logo" class="brand-logo"></div>
            <v-divider inset vertical class="topbar-divider"></v-divider>
            <v-toolbar-title :class="[{ 'mx-4': !$vuetify.breakpoint.xsOnly }, 'topbar-title']"
                             v-text="title"></v-toolbar-title>
            <v-spacer></v-spacer>
        </v-app-bar>
        <v-content>
            <router-view></router-view>
        </v-content>
        <footer-layout></footer-layout>
    </v-app>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({
        components: {
            footerLayout: (resolve) => require(['./footer.layout.vue'], resolve),
        }
    })
    export default class AnonymousLayoutPage extends Vue {
        private title: string = "US Corporate Tax Client Tracking";
    }
</script>