﻿<template>
    <v-app :class="[{'ie-browser':this.$browserDetect.isIE, 'global-overlay': isGlobalSearch}, 'ITCCharterCom-font']" >
        <sidebar-layout @globalSearch="onGlobalSearch"></sidebar-layout>
        <v-content>
            <router-view></router-view>
        </v-content>
        <footer-layout></footer-layout>
        <app-dialog :options="exception"></app-dialog>
    </v-app>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';
    import { Injector } from '../services/injector';
    import { DialogOption } from "../models/dialog";
    import { ExceptionHandler } from "../models/AppEvent";

    @Component({
        components: {
            appDialog: (resolve) => require(["../components/common/app.dialog.vue"], resolve),
            sidebarLayout: (resolve) => require(['./sidebar.layout.vue'], resolve),
            footerLayout: (resolve) => require(['./footer.layout.vue'], resolve),
        }
    })
    export default class AppLayoutPage extends Vue {
        public isGlobalSearch: boolean = false;
        public exception: DialogOption = {
            show: false,
            title: "Exception",
            contentClass: "py-4",
            close: { text: 'Ok', color: 'primary', icon: 'fas fa-check' }
        };

        private mounted(): void {
            ExceptionHandler.init((title: string,message: string) => {
                this.exception.title  = title;
                this.exception.content = message;
                this.exception.show = true;
            })
        }
        private onGlobalSearch(isActive: boolean = false): void {
            if (isActive) {
                this.isGlobalSearch = true;
            }
            else {
                this.isGlobalSearch = false;
            }
        }
    }
</script>