﻿<template>
    <v-footer app :class="[{'footer-xs' :$vuetify.breakpoint.smAndDown }, 'copyright pull-right footer']">
        @{{ new Date().getFullYear() }} PwC. All rights reserved. PwC refers to the PwC network and/or one or more of its member firms, each of which is a separate legal entity. Please see <a href="https://www.pwc.com/structure" target="_blank">www.pwc.com/structure</a> for further details.
    </v-footer>
</template>

<script lang="ts">
    import Vue from 'vue';
    import { Component } from 'vue-property-decorator';

    @Component({})
    export default class FooterLayoutPage extends Vue {
    }
</script>