﻿<template>
    <div>
        <v-navigation-drawer persistent
                             :mini-variant="miniVariant"
                             :clipped="clipped"
                             v-model="drawer"
                             enable-resize-watcher
                             fixed
                             app
                             color="#fff">
            <v-list>
                <template v-for="(item, index) in items">
                    <v-list-group :prepend-icon="item.icon"
                                  :key="index"
                                  no-action
                                  v-model="item.active"
                                  v-if="item.items"
                                  :class="item.cssClass">
                        <template v-slot:activator>
                            <v-list-item-title class="ml-3">
                                {{ item.title }}
                            </v-list-item-title>
                        </template>
                        <v-list-item value="true"
                                     v-for="(subItem, i) in item.items"
                                     :key="i"
                                     :to="subItem.link || null"
                                     :class="[item.cssClass, 'pl-10']"
                                     :href="subItem.href || null"
                                     :target="subItem.target || null">
                            <v-list-item-icon class="mr-3">
                                <v-icon v-html="subItem.icon"></v-icon>
                            </v-list-item-icon>
                            <v-list-item-content>
                                <v-list-item-title v-text="subItem.title"></v-list-item-title>
                            </v-list-item-content>
                        </v-list-item>
                    </v-list-group>
                    <v-list-item value="true" :key="index" :to="item.link" :class="item.cssClass" v-else>
                        <v-list-item-icon class="mr-3">
                            <v-icon v-html="item.icon"></v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-list-item-title v-text="item.title"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar app
                   :clipped-left="clipped"
                   :class="{ 'app-xs': $vuetify.breakpoint.xsOnly, 'global-search': isGlobalSearch, 
                             'office-active':$route.name === 'app.clienttracking.list' ||
                                             $route.name === 'app.clienttracking.clientdeadline' ||
                                             $route.name === 'app.clienttracking.alldata'}">

            <template v-if="isGlobalSearch">
                <v-icon color="#000">mdi-magnify</v-icon>
                <v-text-field flat
                              label="Search"
                              single-line
                              class="mt-7 ml-7"
                              color="#fff"
                              @keyup.enter="onGlobalSearch"
                              v-model="globalSearch">
                </v-text-field>
                <v-btn icon color="#000" @click="onCloseGlobalSearch">
                    <v-icon>mdi-close</v-icon>
                </v-btn>
            </template>

            <template v-else>
                <v-app-bar-nav-icon @click.stop="toggleSidebar()"></v-app-bar-nav-icon>
                <div id="logo" class="brand-logo"></div>
                <v-divider inset vertical class="topbar-divider"></v-divider>
                <v-toolbar-title :class="[{ 'mx-4': !$vuetify.breakpoint.xsOnly }, 'topbar-title']"
                                 v-text="title"></v-toolbar-title>
                <v-spacer></v-spacer>
                <v-btn icon @click="onOpenGlobalSearch" v-if="false">
                    <v-icon>mdi-magnify</v-icon>
                </v-btn>
                <v-toolbar-items v-if="
            $route.name === 'app.clienttracking.list' ||
            $route.name === 'app.clienttracking.clientdeadline' ||
            $route.name === 'app.clienttracking.alldata' ||
            $route.name === 'app.clienttracking.personal'"
                                 class="pwc-office">
                    <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn text
                                   class="ma-0 text-capitalize"
                                   color="primary"
                                   @click="onSwitchOffice()"
                                   v-bind="attrs"
                                   v-on="on">
                                <v-icon class="mr-1">mdi-pencil</v-icon>

                                {{ selectedOffice ? selectedOffice.text : "All Offices" }}
                            </v-btn>
                        </template>
                        <span>Change Office</span>
                    </v-tooltip>
                </v-toolbar-items>
                <v-menu bottom left offset-y>
                    <template v-slot:activator="{ on }">
                        <v-btn icon
                               v-on="on"
                               class="mr-2"
                               :height="36"
                               color="primary"
                               :width="36">
                            <v-icon>person</v-icon>
                        </v-btn>
                    </template>
                    <v-list class="user-info">
                        <v-list-item>
                            <v-list-item-title>
                                <span class="user-name">{{ email }}</span>
                            </v-list-item-title>
                        </v-list-item>
                        <v-list-item>
                            <v-list-item-title>
                                <a href="javascript:void(0)" @click="logOff">Sign Out</a>
                            </v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </template>
        </v-app-bar>

        <app-dialog :options="changeOfficePopup">
            <template v-slot:content>
                <v-select :items="pwcOffices"
                          label="Office"
                          item-text="text"
                          item-value="value"
                          class="mt-4"
                          v-model="office"
                          :loading="officeLoader">
                </v-select>
            </template>
        </app-dialog>
    </div>
</template>

<script lang="ts">
    import { mapGetters } from "vuex";
    import { Component } from "vue-property-decorator";
    import { Base } from "../components/common/Base";
    import { Injector } from "../services/injector";
    import { DialogOption } from "../models/dialog";
    import { SelectItem, SystemConfig } from "../models/master";
    import MenuItems from "../models/MenuItems";
    import store from "../store/index";

    @Component({
        components: {
            AppDialog: (resolve) =>
                require(["../components/common/app.dialog.vue"], resolve),
        },
        computed: {
            ...mapGetters({ selectOffice: "getOffice" }),
            ...mapGetters({ offices: "getOffices" }),
            ...mapGetters({ config: "getSystemConfig" }),
        },
    })
    export default class SidebarLayoutPage extends Base {
        private title: string = "US Corporate Tax Client Tracking";
        private clipped: boolean = true;
        private miniVariant: boolean = true;
        private drawer: boolean = true;
        public officeLoader: boolean = false;
        public pwcOffices: SelectItem[] = [];
        private office: string | null = "";
        private selectOffice: string | null;
        public offices: SelectItem[];
        public selectedOffice: SelectItem | null = null;
        public roles: string[];
        public items: any[] = [];
        public changeOfficePopup: DialogOption = {
            show: false,
            title: "Choose an office",
            action: { text: "Ok" },
            close: { text: "Cancel" },
            contentClass: "pb-2",
            bodyClass: 'office-popup',
            onAction: () => {
                this.onOfficeChange();
            },
        };
        public systemConfig: SystemConfig;
        public config: SystemConfig;
        public globalSearch: string = '';
        public isGlobalSearch: boolean = false;

        public created(): void {
            this.toggleSidebar();
        }
        public mounted(): void {
            this.office = this.selectOffice;
            if (this.offices && this.offices.length) {
                this.pwcOffices = this.offices;
                if (this.selectOffice) {
                    this.onOfficeChange();
                }
            }
            else {
                this.getOffices();
            }
            this.items = this.getItems();

            if (this.config) {
                this.systemConfig = this.config;
                this.setDMSettingUrl();
            }
            else {
                this.getSystemConfig();
            }
        }
        public async logOff(): Promise<void> {
            localStorage.removeItem("officeSelected");
            const logoutUrl = await Injector.UserService.logout();

            if (logoutUrl) {
                if (process.env.VUE_APP_ENVIRONMENT == "" || process.env.VUE_APP_ENVIRONMENT == "LOCAL" || process.env.VUE_APP_ENVIRONMENT == undefined) {
                    window.location.replace(logoutUrl + "?returnurl=" + (window.location.origin + window.location.pathname));
                }
                else {
                    window.location.replace(logoutUrl + "&returnurl=" + (window.location.origin + window.location.pathname));
                }
            }
        }
        public onSwitchOffice(): void {
            this.office = this.selectOffice;
            this.changeOfficePopup.show = true;
        }
        public async getOffices(): Promise<void> {
            try {
                this.officeLoader = true;
                this.pwcOffices = await Injector.MasterService.getOffices();
                this.pwcOffices.unshift({ text: "All Offices", value: "" });
                store.dispatch("setOffices", this.pwcOffices);
                this.onOfficeChange();
            } finally {
                this.officeLoader = false;
            }
        }
        public async getSystemConfig(): Promise<void> {
            this.systemConfig = await Injector.MasterService.getSystemConfig();
            store.dispatch("setSystemConfig", this.systemConfig);
            this.setDMSettingUrl();
        }
        public setDMSettingUrl(): void {
            if (this.systemConfig && this.systemConfig.dmSettingUrl) {
                this.items.forEach((item) => {
                    if (item.title === 'Admin' && item.items && item.items.length) {
                        item.items.forEach((subItem) => {
                            if (subItem.title === 'Application Settings') {
                                subItem.href = this.systemConfig.dmSettingUrl;
                            }
                        })
                    }
                })
            }
        }
        public onOfficeChange(): void {
            this.changeOfficePopup.show = false;
            this.selectedOffice = this.pwcOffices.filter(
                (x) => x.value == this.office
            )[0];
            store.dispatch("setOfficeValue", this.office);
        }
        public getItems(): any {
            const filtered: any = [];

            MenuItems.forEach((element) => {
                const result = this.roles.some((item) => element.roles.includes(item));
                if (result) {
                    filtered.push(element);
                }
            });

            return filtered;
        }
        public toggleSidebar(): void {
            if (
                this.$vuetify.breakpoint.name === "xs" ||
                this.$vuetify.breakpoint.name === "sm" ||
                this.$vuetify.breakpoint.name === "md"
            ) {
                this.drawer = !this.drawer;
                this.miniVariant = false;
            } else {
                this.miniVariant = !this.miniVariant;
            }
        }

        public onOpenGlobalSearch(): void {
            this.$emit('globalSearch', true);
            this.isGlobalSearch = true;
        }
        public onGlobalSearch(): void {
            if (this.systemConfig && this.systemConfig.dmGlobalSearchUrl) {
                const dmUrl = this.systemConfig.dmGlobalSearchUrl + '?' + btoa('q=' + this.globalSearch);
                window.location.replace(dmUrl);
            }
        }
        public onCloseGlobalSearch(): void {
            this.globalSearch = '';
            this.isGlobalSearch = false;
            this.$emit('globalSearch', false);
        }
    }
</script>
